<div class="wrapper">
  <div class="sidebar" data-color="wilken">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="#!/landing"><img src="images/logoFederacion.png" width="100px"></a>
      </div>
      <ul class="nav">
       <li>
          <a href="#!/profileAdmi"><i class="pe-7s-user"></i><p>Perfil</p></a>
      </li>

      <li class="dropdown">
          <a style="background-color: #212123;" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-id"></i> <p>Registrar<span class="caret"></span></p></a>
          <div class="dropdown-backdrop"></div>
            <ul class="dropdown-menu" role="" style="background-color: #FFFFFF;">
              <li style="background-color: #FFFFFF;">
                <a href="#!/academies"><i class="pe-7s-users"></i>Academia</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/teachers"><i class="pe-7s-note"></i>Profesor</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/students"><i class="pe-7s-study"></i>Estudiante</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/places"><i class="pe-7s-map-marker"></i>Lugar</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/eventsGeneral"><i class="pe-7s-note2"></i>Evento</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/products"><i class="pe-7s-shopbag"></i>Producto</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/sponsors"><i class="pe-7s-gift"></i>Patrocinador</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/beneficients"><i class="pe-7s-culture"></i>Asociación Benéfica</a>
              </li>
            </li>
          </ul>

          <li class="dropdown">
              <a style="background-color: #212123;" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-news-paper"></i> <p>Listar<span class="caret"></span></p></a>
              <div class="dropdown-backdrop"></div>
                <ul class="dropdown-menu" role="" style="background-color: #FFFFFF;">
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/totalAcademies"><i class="pe-7s-users"></i>Academia</a>
                  </li>
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/totalTeachers"><i class="pe-7s-note"></i>Profesor</a>
                  </li>
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/totalStudents"><i class="pe-7s-study"></i>Estudiante</a>
                  </li>
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/totalPlaces"><i class="pe-7s-map-marker"></i>Lugar</a>
                  </li>
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/eventsGeneral"><i class="pe-7s-note2"></i>Evento</a>
                  </li>
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/totalProducts"><i class="pe-7s-shopbag"></i>Producto</a>
                  </li>
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/totalSponsors"><i class="pe-7s-gift"></i>Patrocinador</a>
                  </li>
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/totalBeneficients"><i class="pe-7s-culture"></i>Asociación Benéfica</a>
                  </li>
                </li>
              </ul>
      <li>
          <a href="#"><i class="pe-7s-note2"></i><p>Bitácora</p></a>
      </li>

      <li class=>
          <a href="#!/landing"><i class="pe-7s-cup"></i><p>Federación</p></a>
      </li>
        </ul>
    	</div>
    </div>
    <div class="main-panel">
      <nav class="navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
        <div class="collapse navbar-collapse"></div>
      </nav>


  <!-- Page Content -->
<section>
    <div class=" col-md-12">
      <h1>Lugares para eventos Registrados ADMI</h1>
      <!--Crear buscar academia-->
      <section class="inputSearch">
        <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
          <form action="" class="search-form">
            <div class="form-group has-feedback">
              <label for="Buscar" class="sr-only">Buscar</label>
              <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </div>
      </section>

      <md-card class="container-fluid col-md-4" ng-repeat="place in vm.place | filter:vm.nameFilter">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">Nombre del lugar:{{place.namePlace}}</span>
            <span class="md-subhead">Ubicación:{{place.location}}</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-title>
          <md-card-title-text>
            <span class="md-subhead">Capacidad:{{place.capacity}} personas</span>
            <span class="md-subhead">Teléfono:{{place.phone}}</span>
            <span class="md-subhead">Disponibilidad:{{place.timestart | date:'shortTime'}} - {{place.timeFinish | date:'shortTime'}}</span>
            <span class="md-subhead">Persona de contacto:{{place.nameContact}} {{place.firstName}} {{place.secondName}}</span>
          </md-card-title-text>
        </md-card-title>
  </section>
