<div class="wrapper">
  <div class="sidebar" data-color="wilken">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="#!/landing"><img src="images/logoFederacion.png" width="100px"></a>
      </div>
      <ul class="nav">
       <li>
        <a href="#!/profileAdmi"><i class="pe-7s-user"></i><p>Perfil</p></a>
      </li>
 
      <li class="dropdown">
        <a style="background-color: #212123;" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-id"></i> <p>Registrar<span class="caret"></span></p></a>
        <div class="dropdown-backdrop"></div>
        <ul class="dropdown-menu" role="" style="background-color: #FFFFFF;">
          <li style="background-color: #FFFFFF;">
            <a href="#!/academies"><i class="pe-7s-users"></i>Academia</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/teachers"><i class="pe-7s-note"></i>Profesor</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/students"><i class="pe-7s-study"></i>Estudiante</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/places"><i class="pe-7s-map-marker"></i>Lugar</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/eventsGeneral"><i class="pe-7s-note2"></i>Evento</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/products"><i class="pe-7s-shopbag"></i>Producto</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/sponsors"><i class="pe-7s-gift"></i>Patrocinador</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/beneficients"><i class="pe-7s-culture"></i>Asociación Benéfica</a>
          </li>
        </li>
      </ul>

      <li class="dropdown">
        <a style="background-color: #212123;" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-news-paper"></i> <p>Listar<span class="caret"></span></p></a>
        <div class="dropdown-backdrop"></div>
        <ul class="dropdown-menu" role="" style="background-color: #FFFFFF;">
          <li style="background-color: #FFFFFF;">
            <a href="#!/totalacademies"><i class="pe-7s-users"></i>Academia</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/totalteachers"><i class="pe-7s-note"></i>Profesor</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/totalstudents"><i class="pe-7s-study"></i>Estudiante</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/totalplaces"><i class="pe-7s-map-marker"></i>Lugar</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/eventsGeneral"><i class="pe-7s-note2"></i>Evento</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/totalProducts"><i class="pe-7s-shopbag"></i>Producto</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/totalsponsors"><i class="pe-7s-gift"></i>Patrocinador</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/totalbeneficient"><i class="pe-7s-culture"></i>Asociación Benéfica</a>
          </li>
        </li>
      </ul>
      <li>
        <a href="#"><i class="pe-7s-note2"></i><p>Bitácora</p></a>
      </li>

      <li class=>
        <a href="#federacion"><i class="pe-7s-cup"></i><p>Federación</p></a>
      </li>

      <li>
        <a href="#!/landingGallerys"><i class="pe-7s-photo-gallery"></i><p>Galería</p></a>
      </li>
      <li>
        <a href="#!/landingPageContact"><i class="pe-7s-mail-open"></i><p>Contacto</p></a>
      </li>

    </ul>
  </div>
</div>
<div class="main-panel">
  <nav class="navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse"></div>
  </nav>



  
  <section>
    <div>
      <md-input-container class="col-md-12" layout="column">
        <label for="">Competición:</label>
        <md-select class="select" ng-model="vm.competition" ng-change="vm.callCalendar(vm.competition);vm.showFights()" name="competition" required id="calendar" >
          <md-optgroup label="Seleccione una competición">
            <md-option value="primera">Primera</md-option>
            <md-option value="segunda">Segunda</md-option>
            <md-option value="tercera">Tercera</md-option>
            <md-option value="cuarta">Cuarta</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <div class="col-xs-12 col-sm-12 col-md-12 text-center" ng-repeat="fight in vm.fights | filter:vm.nameFilter track by $index">
        <h5 ng-if="$first">Competición: {{fight.competition}}</h5>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 text-center" ng-repeat="fight in vm.fights | filter:vm.nameFilter track by $index">
        <h4 ng-if="$first">Competidores Registrados</h2>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2" ng-repeat="fight in vm.fights | filter:vm.nameFilter track by $index">
        <div class="col-xs-12">
          <label>Competidor: {{fight.competitor}}</label>
        </div>
      </div>

      <div class="col-md-12">
          <div class="text-center">
            <h6>Primera Pelea</h6>
            <div class="">
              <div class="checkbox checkbox-primary">
                <input id="checkbox1" type="checkbox" ng-model="vm.showExportOption" ng-disabled="vm.showImportOption == true">
                <label class="styleLabel2" for="checkbox1">{{vm.fights[0]["competitor"]}}</label>
              </div>
            </div>
            <div>
              <div class="checkbox checkbox-primary"  >
                <input ng-disabled="vm.showExportOption == true" id="checkbox2" type="checkbox" ng-model="vm.showImportOption">
                <label class="text-weight-normal" for="checkbox2">{{vm.fights[1]["competitor"]}}</label>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>