<div class="wrapper">
  <div class="sidebar" data-color="wilken">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="#!/landing"><img src="images/logoFederacion.png" width="100px"></a>
      </div>
      <ul class="nav">
       <li>
        <a href="#!/profileAdmi"><i class="pe-7s-user"></i><p>Perfil</p></a>
      </li>

      <li class="dropdown">
        <a style="background-color: #212123;" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-id"></i> <p>Registrar<span class="caret"></span></p></a>
        <div class="dropdown-backdrop"></div>
        <ul class="dropdown-menu" role="" style="background-color: #FFFFFF;">
          <li style="background-color: #FFFFFF;">
            <a href="#!/academies"><i class="pe-7s-users"></i>Academia</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/teachers"><i class="pe-7s-note"></i>Profesor</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/students"><i class="pe-7s-study"></i>Estudiante</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/places"><i class="pe-7s-map-marker"></i>Lugar</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/eventsGeneral"><i class="pe-7s-note2"></i>Evento</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/products"><i class="pe-7s-shopbag"></i>Producto</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/sponsors"><i class="pe-7s-gift"></i>Patrocinador</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/beneficients"><i class="pe-7s-culture"></i>Asociación Benéfica</a>
          </li>
        </li>
      </ul>

      <li class="dropdown">
        <a style="background-color: #212123;" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-news-paper"></i> <p>Listar<span class="caret"></span></p></a>
        <div class="dropdown-backdrop"></div>
        <ul class="dropdown-menu" role="" style="background-color: #FFFFFF;">
          <li style="background-color: #FFFFFF;">
            <a href="#!/totalacademies"><i class="pe-7s-users"></i>Academia</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/totalteachers"><i class="pe-7s-note"></i>Profesor</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/totalstudents"><i class="pe-7s-study"></i>Estudiante</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/totalplaces"><i class="pe-7s-map-marker"></i>Lugar</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/eventsGeneral"><i class="pe-7s-note2"></i>Evento</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/totalProducts"><i class="pe-7s-shopbag"></i>Producto</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/totalsponsors"><i class="pe-7s-gift"></i>Patrocinador</a>
          </li>
          <li style="background-color: #FFFFFF;">
            <a href="#!/totalbeneficient"><i class="pe-7s-culture"></i>Asociación Benéfica</a>
          </li>
        </li>
      </ul>

      <li class=>
        <a href="#federacion"><i class="pe-7s-cup"></i><p>Federación</p></a>
      </li>

      <li>
        <a href="#!/landingGallerys"><i class="pe-7s-photo-gallery"></i><p>Galería</p></a>
      </li>
      <li>
        <a href="#!/landingPageContact"><i class="pe-7s-mail-open"></i><p>Contacto</p></a>
      </li>

    </ul>
  </div>
</div>
<div class="main-panel">
  <nav class="navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse"></div>
  </nav>




  <section>
    <div>
      <md-input-container class="col-md-12" layout="column">
        <label for="">Competición:</label>
        <md-select class="select" ng-model="vm.competition" ng-change="vm.callCalendar(vm.competition);vm.showFights()" name="competition" required id="calendar" >
          <md-optgroup label="Seleccione una competición">
            <md-option value="primera">Primera</md-option>
            <md-option value="segunda">Segunda</md-option>
            <md-option value="tercera">Tercera</md-option>
            <md-option value="cuarta">Cuarta</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <div class="col-xs-12 col-sm-12 col-md-12 text-center" ng-repeat="fight in vm.fights | filter:vm.nameFilter track by $index">
        <h5 ng-if="$first">Competición: {{fight.competition}}</h5>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 text-center" ng-repeat="fight in vm.fights | filter:vm.nameFilter track by $index">
        <h4 ng-if="$first">Competidores Registrados</h2>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3" ng-repeat="fight in vm.fights | filter:vm.nameFilter track by $index">
        <div class="col-xs-12">
          <label>{{fight.competitor}}</label>
        </div>
      </div>


      <h5 class="col-xs-12 col-sm-12 col-md-12">Primera Ronda</h5>
      <!-- Calendario Ronda 1  pelea 1-->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Primera Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <input id="" type="checkbox" ng-click="vm.addPoint0()" ng-model="vm.showExportOption1" ng-disabled="vm.showImportOption2 == true">
              <label class="styleLabel2" for="">{{vm.fights[0]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary">
              <input ng-disabled="vm.showExportOption1 == true" ng-click="vm.addPoint1()" id="" type="checkbox" ng-model="vm.showImportOption2">
              <label class="text-weight-normal" for="">{{vm.fights[1]["competitor"]}}</label>
            </div>
          </div>
        </div>
      </div>


      <!-- Pelea 2 -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Segunda Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <input id="" type="checkbox" ng-click="vm.addPoint2()" ng-model="vm.showExportOption3" ng-disabled="vm.showImportOption4 == true">
              <label class="styleLabel2" for="">{{vm.fights[2]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <input ng-disabled="vm.showExportOption3 == true" ng-click="vm.addPoint3()" ng-click="vm.addPoint1()" id="" type="checkbox" ng-model="vm.showImportOption4">
              <label class="text-weight-normal" for="">{{vm.fights[3]["competitor"]}}</label>
            </div>
          </div>
        </div>
      </div>

      <!-- Pelea 3 -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Tercera Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <label class="styleLabel2" for="">{{vm.fights[4]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <label class="text-weight-normal" for="">Fecha Libre</label>
            </div>
          </div>
        </div>
      </div>

      <h5  class="col-xs-12 col-sm-12 col-md-12">Segunda Ronda</h5>
      <!-- Calendario Ronda 1  pelea 1-->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Primera Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <input id="" type="checkbox" ng-click="vm.addPoint0()" ng-model="vm.showExportOption5" ng-disabled="vm.showImportOption6 == true">
              <label class="styleLabel2" for="">{{vm.fights[0]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <input ng-disabled="vm.showExportOption5 == true"  ng-click="vm.addPoint2()" id="" type="checkbox" ng-model="vm.showImportOption6">
              <label class="text-weight-normal" for="">{{vm.fights[2]["competitor"]}}</label>
            </div>
          </div>
        </div>
      </div>


      <!-- Pelea 2 -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Segunda Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <input id="" type="checkbox" ng-click="vm.addPoint1()" ng-model="vm.showExportOption7" ng-disabled="vm.showImportOption8 == true">
              <label class="styleLabel2" for="">{{vm.fights[1]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <input ng-disabled="vm.showExportOption7 == true" ng-click="vm.addPoint4()" id="" type="checkbox" ng-model="vm.showImportOption8">
              <label class="text-weight-normal" for="">{{vm.fights[4]["competitor"]}}</label>
            </div>
          </div>
        </div>
      </div>

      <!-- Pelea 3 -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Tercera Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <label class="styleLabel2" for="">{{vm.fights[3]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <label class="text-weight-normal" for="">Fecha Libre</label>
            </div>
          </div>
        </div>
      </div>

      <h5  class="col-xs-12 col-sm-12 col-md-12">Tercera Ronda</h5>
      <!-- Calendario Ronda 1  pelea 1-->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Primera Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <input id="" type="checkbox" ng-click="vm.addPoint0()" ng-model="vm.showExportOption9" ng-disabled="vm.showImportOption10 == true">
              <label class="styleLabel2" for="">{{vm.fights[0]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <input ng-disabled="vm.showExportOption9 == true" ng-click="vm.addPoint4()" id="" type="checkbox" ng-model="vm.showImportOption10">
              <label class="text-weight-normal" for="">{{vm.fights[4]["competitor"]}}</label>
            </div>
          </div>
        </div>
      </div>


      <!-- Pelea 2 -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Segunda Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <input id="" type="checkbox"  ng-click="vm.addPoint1()" ng-model="vm.showExportOption11" ng-disabled="vm.showImportOption12 == true">
              <label class="styleLabel2" for="">{{vm.fights[1]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <input ng-disabled="vm.showExportOption11 == true"  ng-click="vm.addPoint3()" id="" type="checkbox" ng-model="vm.showImportOption12">
              <label class="text-weight-normal" for="">{{vm.fights[3]["competitor"]}}</label>
            </div>
          </div>
        </div>
      </div>

      <!-- Pelea 3 -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Tercera Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <label class="styleLabel2" for="">{{vm.fights[2]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <label class="text-weight-normal" for="">Fecha Libre</label>
            </div>
          </div>
        </div>
      </div>


      <h5  class="col-xs-12 col-sm-12 col-md-12">Cuarta Ronda</h5>
      <!-- Calendario Ronda 1  pelea 1-->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Primera Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <input id="" type="checkbox"  ng-click="vm.addPoint0()" ng-model="vm.showExportOption13" ng-disabled="vm.showImportOption14 == true">
              <label class="styleLabel2" for="">{{vm.fights[0]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <input ng-disabled="vm.showExportOption13 == true"  ng-click="vm.addPoint3()" id="" type="checkbox" ng-model="vm.showImportOption14">
              <label class="text-weight-normal" for="">{{vm.fights[3]["competitor"]}}</label>
            </div>
          </div>
        </div>
      </div>


      <!-- Pelea 2 -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Segunda Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <input id="" type="checkbox"  ng-click="vm.addPoint2()" ng-model="vm.showExportOption15" ng-disabled="vm.showImportOption16 == true">
              <label class="styleLabel2" for="">{{vm.fights[2]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <input ng-disabled="vm.showExportOption15 == true"  ng-click="vm.addPoint4()" id="" type="checkbox" ng-model="vm.showImportOption16">
              <label class="text-weight-normal" for="">{{vm.fights[4]["competitor"]}}</label>
            </div>
          </div>
        </div>
      </div>

      <!-- Pelea 3 -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Tercera Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <label class="styleLabel2" for="">{{vm.fights[1]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <label class="text-weight-normal" for="">Fecha Libre</label>
            </div>
          </div>
        </div>
      </div>


      <h5  class="col-xs-12 col-sm-12 col-md-12">Tercera Ronda</h5>
      <!-- Calendario Ronda 1  pelea 1-->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Primera Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <input id="" type="checkbox" ng-click="vm.addPoint0()"  ng-model="vm.showExportOption19" ng-disabled="vm.showImportOption20 == true">
              <label class="styleLabel2" for="">{{vm.fights[0]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <input ng-disabled="vm.showExportOption19 == true"  ng-click="vm.addPoint4()" id="" type="checkbox" ng-model="vm.showImportOption20">
              <label class="text-weight-normal" for="">{{vm.fights[4]["competitor"]}}</label>
            </div>
          </div>
        </div>
      </div>


      <!-- Pelea 2 -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Segunda Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <input id="" type="checkbox"  ng-click="vm.addPoint1()" ng-model="vm.showExportOption21" ng-disabled="vm.showImportOption22 == true">
              <label class="styleLabel2" for="">{{vm.fights[1]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <input ng-disabled="vm.showExportOption21 == true"  ng-click="vm.addPoint3()" id="" type="checkbox" ng-model="vm.showImportOption22">
              <label class="text-weight-normal" for="">{{vm.fights[3]["competitor"]}}</label>
            </div>
          </div>
        </div>
      </div>

      <!-- Pelea 3 -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Tercera Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <label class="styleLabel2" for="">{{vm.fights[2]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <label class="text-weight-normal" for="">Fecha Libre</label>
            </div>
          </div>
        </div>
      </div>


      <h5  class="col-xs-12 col-sm-12 col-md-12">Quinta Ronda</h5>
      <!-- Calendario Ronda 1  pelea 1-->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Primera Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <input id="" type="checkbox"  ng-click="vm.addPoint1()" ng-model="vm.showExportOption23" ng-disabled="vm.showImportOption24 == true">
              <label class="styleLabel2" for="">{{vm.fights[1]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <input ng-disabled="vm.showExportOption23 == true"  ng-click="vm.addPoint2()" id="" type="checkbox" ng-model="vm.showImportOption24">
              <label class="text-weight-normal" for="">{{vm.fights[2]["competitor"]}}</label>
            </div>
          </div>
        </div>
      </div>


      <!-- Pelea 2 -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Segunda Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <input id="" type="checkbox"  ng-click="vm.addPoint3()" ng-model="vm.showExportOption25" ng-disabled="vm.showImportOption26 == true">
              <label class="styleLabel2" for="">{{vm.fights[3]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <input ng-disabled="vm.showExportOption25 == true"  ng-click="vm.addPoint4()" id="" type="checkbox" ng-model="vm.showImportOption26">
              <label class="text-weight-normal" for="">{{vm.fights[4]["competitor"]}}</label>
            </div>
          </div>
        </div>
      </div>

      <!-- Pelea 3 -->
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="text-center">
          <h6>Tercera Pelea</h6>
          <div class="">
            <div class="checkbox checkbox-primary">
              <label class="styleLabel2" for="">{{vm.fights[0]["competitor"]}}</label>
            </div>
          </div>
          <div>
            <div class="checkbox checkbox-primary"  >
              <label class="text-weight-normal" for="">Fecha Libre</label>
            </div>
          </div>
        </div>
      </div>








    </div>
  </section>
