<div class="wrapper">
  <div class="sidebar" data-color="wilken">
    <div class="sidebar-wrapper">
        <div class="logo">
           <img src="images/logoFederacion.png" style="width: 100px;">
        </div>
        <ul class="nav">
          <li class=>
            <a href="#!/landing"><i class="pe-7s-cup"></i><p>Federación</p></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      <div class="collapse navbar-collapse"></div>
      </nav>
      <br>
      <h1 class="text-center">Ranking General</h1>
      <table class="container">
        <thead>
          <tr>
            <th><h1>Posición</h1></th>
            <th><h1>Competidor</h1></th>
            <th><h1>Academia</h1></th>
            <th><h1>Torneos Ganados</h1></th>
            <th><h1>Puntos Ganados</h1></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Pamela Brenes</td>
            <td>Academia Fabi</td>
            <td>0</td>
            <td>0</td>
          </tr>
       </tbody>
    </table>