<div class="wrapper">
  <div class="sidebar" data-color="wilken">
    <div class="sidebar-wrapper">
        <div class="logo">
           <img src="images/logoFederacion.png" style="width: 100px;">
        </div>
        <ul class="nav">

          <li>
            <a href="#!/login"><i class="pe-7s-user"></i><p>Iniciar Sesión</p></a>
          </li>

          <li class=>
           <a href="#!/generalRankingPublic"><i class="pe-7s-graph2"></i><p>Ranking General</p></a>
          </li>


          <li class=>
           <a href="#!/landingPageEventsPublic"><i class="pe-7s-star"></i><p>Destacados</p></a>
          </li>

          <li>
            <a href="#!/ticketPublic"><i class="pe-7s-ticket"></i><p>Tickets</p></a>
          </li>

          <li class=>
            <a href="#federacion"><i class="pe-7s-cup"></i><p>Federación</p></a>
          </li>


        </ul>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
        <div class="collapse navbar-collapse"></div>
      </nav>
          <!-- Page Content -->

<md-content class="image-responsive imageTaek md-padding"  layout-align="left">
  <div class="container-fluid">

  <form id="form-background" ng-submit="vm.login()" novalidate name="frmLogin" id="formLogin" autocomplete="off">
    <div  layout-align="center">
      <div layout="row">
        <md-input-container layout="column" flex="50" flex-gt-sm>
          <label>Correo Electrónico</label>
          <input type="email" name="email" ng-model="vm.email" required/>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container layout="column" flex="50" flex-gt-sm>
          <label>Contraseña</label>
          <input type="password" name="password" ng-model="vm.password" required/>
        </md-input-container>
      </div>
      <p class="blocked"></p>
      <div layout="row" layout-align="left">
        <md-button class="md-raised md-warn warning" id="login-button" layout="column" type="submit" ng-disabled="frmLogin.$invalid">Entrar</md-button>
      </div>
     </div>
  </form>
  <footer>
      <p class="style-footer">©Arroba - All rights reserved 2017.</p>
  </footer>
</div>

</md-content>
