<div class="wrapper">
  <div class="sidebar" data-color="wilken">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="#!/landing"><img src="images/logoFederacion.png" width="100px"></a>
      </div>
      <ul class="nav">
       <li>
          <a href="#!/teacherProfile"><i class="pe-7s-user"></i><p>Perfil</p></a>
      </li>

      <li class="dropdown">
          <a style="background-color: #212123;" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-id"></i> <p>Registro<span class="caret"></span></p></a>
          <div class="dropdown-backdrop"></div>
            <ul class="dropdown-menu" role="" style="background-color: #FFFFFF;">
              <li style="background-color: #FFFFFF;">
                <a href="#!/studentTeacher"><i class="pe-7s-study"></i>Estudiante</a>
              </li>
            </li>
          </ul>

              <li class="dropdown">
                  <a style="background-color: #212123;" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-news-paper"></i> <p>Listar<span class="caret"></span></p></a>
                  <div class="dropdown-backdrop"></div>
                    <ul class="dropdown-menu" role="" style="background-color: #FFFFFF;">
                      <li style="background-color: #FFFFFF;">
                        <a href="#!/totalAcademiesTeacher"><i class="pe-7s-users"></i>Academia</a>
                      </li>
                      <li style="background-color: #FFFFFF;">
                        <a href="#!/totalStudentsTeacher"><i class="pe-7s-study"></i>Estudiante</a>
                      </li>
                      <li style="background-color: #FFFFFF;">
                        <a href="#!/totaleventsGeneralTeacher"><i class="pe-7s-note2"></i>Evento</a>
                      </li>
                      </li>
                  </ul>

                  <li class=>
                   <a href="#!/generalRankingTeacher"><i class="pe-7s-graph2"></i><p>Ranking General</p></a>
                  </li>

                  <li class=>
                   <a href="#!/landingPageEventsTeacher"><i class="pe-7s-star"></i><p>Destacados</p></a>
                  </li>

                  <li>
                    <a href="#!/ticketTeacher"><i class="pe-7s-ticket"></i><p>Tickets</p></a>
                  </li>

      <li>
          <a href="#!/landing"><i class="pe-7s-cup"></i><p>Federación</p></a>
      </li>


        </ul>
    	</div><!--cierre de sidebar-wrapper -->
    </div><!--cierre de sidebar -->
    <div class="main-panel">
      <nav class="navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div><!--cierre de navbar-header -->
        </div><!--cierre de container-fluid -->
        <div class="collapse navbar-collapse"></div>
      </nav>


  <!-- Page Content -->


          <!--Regristrar Estudiantes, listar Estudiantes y modificar Estudiantes en conjunto con impresión de los datos.(Pamela)-->
          <div class="container-fluid">
            <section id="registerStudent">

              <h1>Registro de Estudiante PROFE</h1>
              <hr>

              <form class="form" name="frmRegisterStudent" ng-submit="vm.presave(vm)" novalidate autocomplete="off">

                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" ng-click="anterior()" href="">Registro</a></li>
                  <li><a data-toggle="tab" ng-click="siguiente()" href="">Estudiantes registrados</a></li>
                </ul>

                <div class="row" ng-show="pagina==1">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
                      <label for="">Identificación:</label>
                      <input type="text" ng-model="vm.id" name="id" ng-minlength="7" ng-maxlength="9" required>
                      <div ng-messages="frmRegisterStudent.id.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div><!--cierre del ng-messages -->
                    </md-input-container>

                    <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column" >
                      <label for="">Nombre:</label>
                      <input type="text" ng-model="vm.firstName" name="firstName" ng-maxlength="20" required>
                      <div ng-messages="frmRegisterStudent.firstName.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div><!--cierre del ng-messages -->
                    </md-input-container>

                    <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
                      <label for="">Primer apellido:</label>
                      <input type="text" ng-model="vm.surname" name="surname" ng-maxlength="20" required>
                      <div ng-messages="frmRegisterStudent.surname.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div><!--cierre del ng-messages -->
                    </md-input-container>
                    </div>

                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
                      <label for="">Segundo apellido:</label>
                      <input type="text" ng-model="vm.secondSurname"  name="secondSurname" ng-maxlength="20" required>
                      <div ng-messages="frmRegisterStudent.secondSurname.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div><!--cierre del ng-messages -->
                    </md-input-container>

                    <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
                      <label for="">Género:</label>
                      <md-select class="select" ng-model="vm.gender" name="gender" required>
                        <md-optgroup label="Seleccione género">
                          <md-option value="Masculino">Masculino</md-option>
                          <md-option value="Femenino">Femenino</md-option>
                        </md-optgroup>
                      </md-select>
                      <div ng-messages="frmRegisterStudent.gender.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div><!--cierre del ng-messages -->
                    </md-input-container>

                    <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
                      <label for="">Fecha de nacimiento:</label>
                      <input type="date" ng-model="vm.date" name="date" required>
                      <div ng-messages="frmRegisterStudent.date.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div><!--cierre del ng-messages -->
                    </md-input-container>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
                      <label for="">Télefono:</label>
                      <input type="number" name="telephone" ng-model="vm.telephone" min="0" ng-minlength="8" ng-maxlength="8" placeholder="22222222" name="telephone" required>
                      <div ng-messages="frmRegisterStudent.telephone.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div><!--cierre del ng-messages -->
                    </md-input-container>

                    <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
                      <label for="">Dirección:</label>
                      <input type="text" ng-model="vm.address" name="address" ng-maxlength="100" required>
                      <div ng-messages="frmRegisterStudent.address.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div><!--cierre del ng-messages -->
                    </md-input-container>

                    <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
                      <label for="">Estado civil:</label>
                      <md-select class="select" ng-model="vm.civilStatus" name="civilStatus" required>
                        <md-optgroup label="Seleccione estado civil">
                          <md-option value="Casado">Casado</md-option>
                          <md-option value="Soltero">Soltero</md-option>
                          <md-option value="Unión libre">Unión libre</md-option>
                        </md-optgroup>
                      </md-select>
                      <div ng-messages="frmRegisterStudent.civilStatus.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div><!--cierre del ng-messages -->
                    </md-input-container>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
                      <label for="">Peso:</label>
                      <input type="number" ng-model="vm.weight" name="weight" required placeholder="Kg" min="1">
                      <div ng-messages="frmRegisterStudent.weight.$error">
                        <div ng-messages-include="components/includes/messages.html"></div>
                      </div><!--cierre del ng-messages -->
                    </md-input-container>

                    <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
                    <label for="">Altura:</label>
                    <input type="number" ng-model="vm.height" name="height" required placeholder="162 cm" min="1">
                    <div ng-messages="frmRegisterStudent.weight.$error">
                      <div ng-messages-include="components/includes/messages.html"></div>
                    </div><!--cierre del ng-messages -->
                  </md-input-container>

                  <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
                    <label for="">Grado:</label>
                    <md-select class="select" ng-model="vm.grade" name="grade" required>
                      <md-optgroup label="Seleccione un grado">
                        <md-option value="Blanco">Blanco</md-option>
                        <md-option value="Amarillo">Amarillo</md-option>
                        <md-option value="Verde">Verde</md-option>
                        <md-option value="Azul">Azul</md-option>
                        <md-option value="Rojo">Rojo</md-option>
                        <md-option value="Negro">Negro</md-option>
                      </md-optgroup>
                    </md-select>
                    <div ng-messages="frmRegisterStudent.grade.$error">
                      <div ng-messages-include="components/includes/messages.html"></div>
                    </div> <!--cierre del ng-messages -->
                  </md-input-container>
                  </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                  <md-input-container class="select2 col-xs-12 col-sm-4 col-md-4" layout="column">
                    <label for="">Academia:</label>
                    <input list="academyList" type="text" ng-model="vm.academies" name="academies" required>
                    <datalist id="academyList">
                      <option value="">>--Seleccione una academia--</option>
                      <option ng-repeat="academy in vm.academiesRel" value="{{academy.name}}">{{vm.academy.name}}</option>
                    </datalist>
                    <div ng-messages="frmRegisterStudent.academies.$error">
                      <div ng-messages-include="components/includes/messages.html"></div>
                    </div><!--cierre del ng-messages -->
                  </md-input-container>

                  <md-input-container class="select2 col-xs-12 col-sm-4 col-md-4" layout="column">
                  <label for="">Profesor:</label>
                  <input list="teachersList" type="text" ng-model="vm.teachers" name="teachers" required>
                  <datalist id="teachersList">
                    <option ng-repeat="teacher in vm.teachersRel" value="{{teacher.name}}">{{vm.teacher.name}}</option>
                  </datalist>
                  <div ng-messages="frmRegisterStudent.teachers.$error">
                    <div ng-messages-include="components/includes/messages.html"></div>
                  </div><!--cierre del ng-messages -->
                </md-input-container>

                <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
                  <label for="">Correo electrónico:</label>
                  <input type="email" ng-model="vm.email" placeholder="nombre@dominio.com" name="email" required>
                  <div ng-messages="frmRegisterStudent.email.$error">
                    <div ng-messages-include="components/includes/messages.html"></div>
                  </div><!--cierre del ng-messages -->
                </md-input-container>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12">
                <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
                  <label for="">Contraseña:</label>
                  <input type="password" ng-model="vm.password" name="password" ng-minlength="7" ng-maxlength="11" required>
                  <div ng-messages="frmRegisterStudent.password.$error">
                    <div ng-messages-include="components/includes/messages.html"></div>
                  </div><!--cierre del ng-messages -->
                </md-input-container>
              </div>

        <!-- Botones de Selleccione foto, Registrar y Actualizar -->
            <div class="col-xs-12 col-sm-12 col-md-12">

              <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-info">
                        Seleccionar foto
                        <input type="file" style="display: none;" ng-model="vm.photo" name="photo" id="photo">
                    </span>
                </label>
              </div>

              <div class="col-xs-12">
                <div id="registrar">
                  <md-button class="button Active" type="submit" ng-disabled="frmRegisterStudent.$invalid">Registrar</button>
                </div>
                <div class="displayNone" id="actualizar">
                  <md-button class="button edit" type="button" ng-disabled="frmRegisterTickets.$invalid" ng-click="vm.update(student)">Actualizar</md-button>
                </div>
              </div>
              </div><!-- Cierre Botones de Selleccione foto, Registrar y Actualizar -->
          </form><!--cierre del formulario para registrar -->
          </div><!--cierre de row -->
      </div><!--cierre del pagina1 -->


      <div class= "col-md-12" ng-show="pagina==2">
          <!--Crear buscar estudiante-->
           <section class="inputSearch">
             <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
             <form action="" class="search-form">
               <div class="form-group has-feedback">
                 <label for="Buscar" class="sr-only">Buscar</label>
                 <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
                 <span class="glyphicon glyphicon-search form-control-feedback"></span>
               </div>
             </form>
           </div><!--cierre buscar estudiante-->
          </section>

          <div class="col-xs-12">
           <md-card  class="container-fluid col-md-6" ng-repeat="student in vm.students | filter:vm.nameFilter">
           <md-card-header>
           <md-card-header-text>
             <span class="md-title">{{student.firstName}} {{student.secondName}} {{student.surname}} {{student.secondSurname}}</span>
             <span class="md-subhead">{{student.id}}</span>
           </md-card-header-text>
           </md-card-header>
           <md-card-title>
           <md-card-title-text>
             <div>
               <span class="md-subhead">Género: {{student.gender}}</span>
               <span class="md-subhead">Fecha de nacimiento: {{student.date | date}}</span>
               <span class="md-subhead">Teléfono: {{student.telephone}}</span>
               <span class="md-subhead">Dirección: {{student.address}}</span>
               <span class="md-subhead">Estado civil: {{student.civilStatus}}</span>
               <span class="md-subhead">Peso: {{student.weight}} Kg</span>
               <span class="md-subhead">Altura: {{student.height}} cm</span>
               <span class="md-subhead">Grado: {{student.grade}}</span>
               <span class="md-subhead">Academia: {{student.academies}}</span>
               <span class="md-subhead">Profesor: {{student.teachers}}</span>
               <span class="md-subhead">Correo electrónico: {{student.email}}</span>
               <span class="md-subhead">Estado: {{student.status}}</span>
             </div>
           </md-card-title-text>
           <md-card-title-media>
             <div class="md-media-lg card-media">
               <img ng-src="{{student.photo}}" alt="Description">
             </div>
           </md-card-title-media>
           </md-card-title>
               <!-- Boton para cambiar el editar las estudiantes -->
           <md-card-actions id="buttons">
             <md-button class="edit" ng-click="vm.getInfo(student);vm.hideButton();registro1()">Editar</md-button>
             <md-button class="Active"ng-click="vm.active(student)">Activo</md-button>
             <md-button class="edit" ng-click="vm.inactive(student)">Inactivo</md-button>
             <md-card-icon-actions><!-- cierre botones  -->
           </div><!--fin de los cards -->
         </div><!--cierre de pagina2 -->
       </div><!--cierre de main-panel -->
       </div><!--cierre de wrapper -->
