<div class="wrapper">
  <div class="sidebar" data-color="wilken">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="#!/landing"><img src="images/logoFederacion.png" width="100px"></a>
      </div>
        <ul class="nav">
         <li>
          <a href="#!/profileAdministrador"><i class="pe-7s-user"></i><p>Perfil</p></a>
         </li>

         <li class="dropdown">
          <a style="background-color: #212123;" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-id"></i> <p>Registrar<span class="caret"></span></p></a>
          <div class="dropdown-backdrop"></div>
            <ul class="dropdown-menu" role="" style="background-color: #FFFFFF;">
              <li style="background-color: #FFFFFF;">
                <a href="#!/academies"><i class="pe-7s-users"></i>Academia</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/teachers"><i class="pe-7s-note"></i>Profesor</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/students"><i class="pe-7s-study"></i>Estudiante</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/places"><i class="pe-7s-map-marker"></i>Lugar</a>
              </li>

              <li style="background-color: #FFFFFF;">
                <a href="#!/products"><i class="pe-7s-shopbag"></i>Producto</a>
              </li>

              <li style="background-color: #FFFFFF;">
                <a href="#!/sponsors"><i class="pe-7s-gift"></i>Patrocinador</a>
              </li>

              <li style="background-color: #FFFFFF;">
                <a href="#!/beneficients"><i class="pe-7s-culture"></i>Asociación Benéfica</a>
              </li>

              <li style="background-color: #FFFFFF;">
                <a href="#!/eventsGeneral"><i class="pe-7s-note2"></i>Evento</a>
              </li>

              <li style="background-color: #FFFFFF;">
                <a href="#!/tickets"><i class="pe-7s-ticket"></i>Tickets</a>
              </li>

            </ul>
         </li>

         <li class="dropdown">
          <a style="background-color: #212123;" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-news-paper"></i><p>Listar<span class="caret"></span></p></a>
          <div class="dropdown-backdrop"></div>
            <ul class="dropdown-menu" role="" style="background-color: #FFFFFF;">
              <li style="background-color: #FFFFFF;">
                <a href="#!/totalAcademies"><i class="pe-7s-users"></i>Academia</a>
              </li>

              <li style="background-color: #FFFFFF;">
                <a href="#!/totalTeachers"><i class="pe-7s-note"></i>Profesor</a>
              </li>

              <li style="background-color: #FFFFFF;">
                <a href="#!/totalStudents"><i class="pe-7s-study"></i>Estudiante</a>
              </li>

              <li style="background-color: #FFFFFF;">
                <a href="#!/totalPlaces"><i class="pe-7s-map-marker"></i>Lugar</a>
              </li>

              <li style="background-color: #FFFFFF;">
                <a href="#!/totalProducts"><i class="pe-7s-shopbag"></i>Producto</a>
              </li>

              <li style="background-color: #FFFFFF;">
                <a href="#!/totalSponsors"><i class="pe-7s-gift"></i>Patrocinador</a>
              </li>

              <li style="background-color: #FFFFFF;">
                <a href="#!/totalBeneficients"><i class="pe-7s-culture"></i>Asociación Benéfica</a>
              </li>

              <li style="background-color: #FFFFFF;">
                <a href="#!/totaleventsGeneral"><i class="pe-7s-note2"></i>Evento</a>
              </li>

              <li style="background-color: #FFFFFF;">
                <a href="#!/Totaltickets"><i class="pe-7s-ticket"></i>Tickets</a>
              </li>

            </ul>

            <li class=>
             <a href="#!/generalRanking"><i class="pe-7s-graph2"></i><p>Ranking General</p></a>
            </li>

            <li class=>
             <a href="#!/landingPageEvents"><i class="pe-7s-star"></i><p>Destacados</p></a>
            </li>


         <li class=>
          <a href="#!/landing"><i class="pe-7s-cup"></i><p>Federación</p></a>
         </li>
        </ul>
      </div>
  </div>

      <div class="main-panel">
        <nav class="navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          </div>
          <div class="collapse navbar-collapse"></div>
        </nav>


  <!-- Page Content -->
  <section>
    <div class=" col-md-12"> <!-- inicio cards -->

      <h1>Estudiantes</h1>
      <hr>
      <!--Crear buscar academia-->
      <section class="inputSearch">
        <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
          <form action="" class="search-form">
            <div class="form-group has-feedback">
              <label for="Buscar" class="sr-only">Buscar</label>
              <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </div><!-- cierre busqueda -->
      </section>

      <md-card  class="container-fluid col-md-6" ng-repeat="student in vm.students | filter:vm.nameFilter">
          <md-card-header>
            <md-card-header-text>
              <span class="md-title">{{student.firstName}} {{student.secondName}} {{student.surname}} {{student.secondSurname}}</span>
              <span class="md-subhead">{{student.id}}</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-title>
            <md-card-title-text>
              <div>
                <span class="md-subhead">{{student.gender}}</span>
                <span class="md-subhead">Nacimiento:{{student.date | date}}</span>
                <span class="md-subhead">Teléfono:{{student.telephone}}</span>
                <span class="md-subhead">Dirección: {{student.address}}</span>
                <span class="md-subhead">Estado Civil: {{student.civilStatus}}</span>
                <span class="md-subhead">Peso: {{student.weight}} Kg</span>
                <span class="md-subhead">Altura: {{student.height}} cm</span>
                <span class="md-subhead">Grado: {{student.grade}}</span>
                <span class="md-subhead">Academia: {{student.academies}}</span>
                <span class="md-subhead">Profesor: {{student.teachers}}</span>
                <span class="md-subhead">Correo:{{student.email}}</span>
                <span class="md-subhead">Estado: {{student.status}}</span>
              </div>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media">
                <img ng-src="{{student.photo}}" alt="Description" class="photoStudent">
              </div>
            </md-card-title-media>
          </md-card-title>
  </section>
</div><!-- cierre cards -->
</div><!--cierre de main-panel -->
</div><!--cierre de wraper-->
