<div class="wrapper">
  <div class="sidebar" data-color="wilken">
    <div class="sidebar-wrapper">
      <div class="logo">
        <img src="images/logoFederacion.png" width="100px">
      </div>
        <ul class="nav">
          <li class=>
            <a href="#federacion"><i class="pe-7s-cup"></i><p>Federación</p></a>
          </li>

          <li>
            <a href="#!/login"><i class="pe-7s-user"></i><p>Iniciar Sesión</p></a>
          </li>

          <li>
            <a href=""><i class="pe-7s-note2"></i><p>Eventos</p></a>
          </li>

          <li>
            <a href=""><i class="pe-7s-photo-gallery"></i><p>Galería</p></a>
          </li>

          <li>
            <a href="">
              <i class="pe-7s-mail-open"></i><p>Contacto</p></a>
          </li>
        </ul>
    	</div>
    </div>
    <div class="main-panel">
      <nav class="navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
        <div class="collapse navbar-collapse"></div>
      </nav>

  <!-- Page Content -->
<section>
  <div>
    <md-card>
      <div class="col-md-12">

        <md-card-header>
        <md-card-header-text>
          <md-button class="edit col-xs-5 col-md-2 col-sm-2 col-xs-offset-7 col-md-offset-10 col-sm-offset-10" ng-click="vm.logOut()"> Cerrar Sesión </md-button>
          <h1>Bienvenida!</h1>
          <hr>
          <span style="font-size:25px; " class="md-title">{{vm.foundCredentials.name}} {{vm.foundCredentials.firstName}} {{vm.foundCredentials.lastName}}</span>
        </md-card-header-text>
        </md-card-header>
        <md-card-title class="col-md-10">
          <md-card-title-text >
            <span class="md-subhead">Email: {{vm.foundCredentials.email}}</span>
            <span class="md-subhead">Residencia: {{vm.foundCredentials.resident}}</span>
            <span class="md-subhead">Teléfono: {{vm.foundCredentials.telephone}}</span>
            <span class="md-subhead">Nacimiento: {{vm.foundCredentials.year}}</span>
            <span class="md-subhead">Estado: {{vm.foundCredentials.status}}</span>
          </md-card-title-text>
        </md-card-title>
          <md-card-title-media class="col-md-2">
            <div class="md-media-lg card-media">
              <img img ng-src="images/pilar.jpg" alt="Description">
            </div>
          </md-card-title-media>
      </div>

    <!-- Boton para cambiar el editar las estudiantes -->
    <md-card-actions layout="row" layout-align="end center">
      <md-card-icon-actions><!-- cierre botones  -->
      </div>
    </md-card>
        <!--fin de los cards -->

</section>
</div>
</div>
