<!--Regristrar eventos, listar eventos y modificar eventos en conjunto con impresión de los datos  -->
<section>
  <!--inicio form para registrar -->
  <form name="frmRegisterEvent" novalidate autocomplete="off">

    <h1>Registro de evento</h1>
    <hr>

    <label for="">Seleccione tipo de evento:</label>
    <select ng-model="vm.eventType" name="eventType" required>
      <option value="">--Seleccione un evento</option>
      <option value="Fogueo">Fogueo</option>
      <option value="Exhibicion">Exhibición</option>
      <option value="Torneo">Torneo</option>
    </select>
    <div ng-messages="frmRegisterEvent.eventType.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Nombre del evento:</label>
    <input type="text" ng-model="vm.name" name="name" required>
    <div ng-messages="frmRegisterEvent.name.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Lugar del evento:</label>
    <input type="text" ng-model="vm.place" name="place" required>
    <div ng-messages="frmRegisterEvent.place.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Fecha de inicio:</label>
    <input type="date" ng-model="vm.dateStart" name="dateStart" required>
    <div ng-messages="frmRegisterEvent.dateStart.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Fecha de cierre:</label>
    <input type="date" ng-model="vm.dateFinish" name="dateFinish" required>
    <div ng-messages="frmRegisterEvent.dateFinish.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Academias:</label>
    <input list="academyList" type="text" ng-model="vm.academies" name="academies" required>
    <datalist id="academyList">
      <option value="">>--Seleccione una academia</option>
      <option ng-repeat="academy in vm.academiesRel" value="{{academy.name}}">{{vm.academy.name}}</option>
    </datalist>
    <div ng-messages="frmRegisterEvent.academies.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Categorías por edad:</label>
    <select ng-model="vm.categoryAge" name="categoryAge" required>
      <option value="">--Seleccione una categoría</option>
      <option value="Infantil">Infantil (4 a 11 años.)</option>
      <option value="Cadete">Cadete (12 a 16 años.)</option>
      <option value="Elite">Elite (de 17 a 23 años.)</option>
      <option value="Senior ">Sénior (mayor a 23 años de edad.)</option>
    </select>
    <div ng-messages="frmRegisterEvent.categoryAge.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Categorías por peso:</label>
    <select ng-model="vm.categoryWeight" name="categoryWeight" required>
      <option value="">--Seleccione una categoría</option>
      <option value="Pluma">(Pluma) Il-Yang menos de 51 kg.</option>
      <option value="Gallo">(Gallo) I-Yang 52kg a 59kg.</option>
      <option value="Supergallo">(SuperGallo) O-Yang 60kg a 65kg.</option>
      <option value="Welter">(Wélter) Sam-Yang 66kg a 74kg. </option>
      <option value="Pesado">(Pesado) Siu-Yang más 74 kg.</option>
    </select>
    <div ng-messages="frmRegisterEvent.categoryWeight.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Categorías por género:</label>
    <select ng-model="vm.categoryGender" name="categoryGender" required>
      <option value="">--Seleccione una categoría</option>
      <option value="Masculino">Masculino</option>
      <option value="Femenino">Femenino</option>
      <option value="Indefinido">Indefinido</option>
    </select>
    <div ng-messages="frmRegisterEvent.categoryGender.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Color del cinturón:</label>
    <select ng-model="vm.color" name="color" required>
      <option value="">--Seleccione el color del cinturón</option>
      <option value="Blanco">Blanco</option>
      <option value="Amarillo">Amarillo</option>
      <option value="Verde">Verde</option>
      <option value="Azul">Azul</option>
      <option value="Rojo">Rojo</option>
      <option value="Negro">Negro</option>
    </select>
    <div ng-messages="frmRegisterEvent.color.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Invitados especiales:</label>
    <input type="text" ng-model="vm.specialGuests" name="specialGuests" required>
    <div ng-messages="frmRegisterEvent.specialGuests.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Patrocinadores:</label>
    <input list="lsSponsorsList" type="text" ng-model="vm.sponsors" name="sponsors" required>
    <datalist id="lsSponsorsList">
      <option value="">>--Seleccione un patrocinador</option>
      <option ng-repeat="sponsor in vm.sponsorsRel" value="{{sponsor.nameSponsorCompany}}">{{vm.nameSponsorCompany}}</option>
    </datalist>
    <div ng-messages="frmRegisterEvent.sponsors.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->  

    <!-- Botones de Registro y Actualizar -->
    <input type="submit" value="Registrar" ng-disabled="frmRegisterEvent.$invalid" ng-click="vm.save(event)" >
    <input type="button" value="Actualizar" ng-disabled="frmRegisterEvent.$invalid" ng-click="vm.update(event)">
  </form> <!--fin registro de eventos -->

  <input type="text" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">

  <!--inicio de tabla-->
  <table><!--Inicio de la Tabla para registrar los datos -->
    <thead>
      <!--Select necesario para filtrar los datos por estado (activos e inactivos únicamente)  -->
      <select ng-model="vm.statusFiltrer" name="statusFiltrer">
        <option value="">--Seleccione un estado--</option>
        <option value="Activo">Activo</option>
        <option value="Inhabilitado">Inactivo</option>
      </select> <!--cierre del filtro  -->

      <tr><!--Títulos para las tablas  -->
        <th>Tipo de evento</th>
        <th>Nombre del evento</th>
        <th>Lugar del evento</th>
        <th>Fecha de inicio</th>
        <th>Fecha de cierre</th>
        <th>Academias afiliadas</th>
        <th>Categoría por edad</th>
        <th>Categoría por peso</th>
        <th>Categoría por género</th>
        <th>Color del cinturón</th>
        <th>Invitados especiales</th>
        <th>Patrocinadores</th>
        <th>Estado</th>
      </tr><!-- cierre de títulos -->
    </thead>
    <tbody>
      <tr ng-repeat="event in vm.events  | filter:{status:vm.statusFiltrer} | filter:vm.nameFilter"><!--Impresión de los datos-->
          <td>{{event.eventType}}</td>
          <td>{{event.name}}</td>
          <td>{{event.place}}</td>
          <td>{{event.dateStart | date: 'dd-MM-yyyy'}}</td>
          <td>{{event.dateFinish | date: 'dd-MM-yyyy'}}</td>
          <td>{{event.academies}}</td>
          <td>{{event.categoryAge}}</td>
          <td>{{event.categoryWeight}}</td>
          <td>{{event.categoryGender}}</td>
          <td>{{event.color}}</td>
          <td>{{event.specialGuests}}</td>
          <td>{{event.sponsors}}</td>
          <td>{{event.status}}</td>
          <!-- Botones para cambiar el estado de las academias -->
          <td><input type="button" value="Editar" ng-click="vm.getInfo(event)"></td>
          <td><input type="submit" value="Activo" ng-click="vm.active(event)"></td>
          <td><input type="submit" value="Inactivo" ng-click="vm.inactive(event)"></td>
          <!-- cierre botones  -->
      </tr><!--Fin de la impresión de datos  -->
    </tbody>
  </table><!--Fin de la tabla para impresión de datos-->
</section>
