<section>
    <div class=" col-md-12">
      <h1>Torneos</h1>
      <!--Crear buscar academia-->
      <section class="inputSearch">
        <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
          <form action="" class="search-form">
            <div class="form-group has-feedback">
              <label for="Buscar" class="sr-only">Buscar</label>
              <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </div>
      </section>

      <md-card class="col-xs-12 col-sm-12 col-md-4 col-md-offset-1" ng-repeat="event in vm.events | filter:{status:vm.statusFiltrer} | filter:vm.nameFilter">
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">Nombre del evento: {{event.name}}</span>
          <span class="md-subhead">Lugar: {{event.place}}</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-title>
        <md-card-title-text>
          <span class="md-subhead">Fecha de inicio: {{event.dateStart | date: 'dd-MM-yyyy'}}</span>
          <span class="md-subhead">Fecha de cierre: {{event.dateFinish | date: 'dd-MM-yyyy'}}</span>
          <span class="md-subhead">Academias afiliadas: {{event.academies}}</span>
          <span class="md-subhead">Patrocinadores: {{event.sponsors}}</span>
          <span class="md-subhead">Estado: {{event.status}}</span>
        </md-card-title-text>
      </md-card-title>
      <!-- Boton para cambiar el editar las eventos -->
  </section>
