<div class="wrapper">
  <div class="sidebar" data-color="wilken">
    <div class="sidebar-wrapper">
        <div class="logo">
           <img src="images/logoFederacion.png" style="width: 100px;">
        </div>
        <ul class="nav">
          <li class=>
            <a href="#!/landing"><i class="pe-7s-cup"></i><p>Federación</p></a>
          </li>

          <li>
            <a href="#!/login"><i class="pe-7s-user"></i><p>Iniciar Sesión</p></a>
          </li>

          <li>
            <a href="#!/landingPageEvents"><i class="pe-7s-note2"></i><p>Eventos</p></a>
          </li>

          <li>
            <a href="#!/landingGallerys"><i class="pe-7s-photo-gallery"></i><p>Galería</p></a>
          </li>

          <li>
            <a href="#!/landingContact">
              <i class="pe-7s-mail-open"></i><p>Contacto</p></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      <div class="collapse navbar-collapse"></div>
      </nav>

      <div class="container">
  <div class="row">
    <h2>Galería Federación Costarricense de Taekwondo</h2>
  </div>
  
  <div class="row img-thumbnails">
      <div class="col-md-6">
          <a href="#">
              <img src="http://lorempixel.com/600/600/nature/1/" class="img-thumbnail">
          </a>
      </div>
      <div class="col-md-6">
          <a href="#">
              <img src="http://lorempixel.com/600/600/nature/2/" class="img-thumbnail">
          </a>
      </div>
      <div class="col-md-4">
          <a href="#">
              <img src="http://lorempixel.com/600/600/nature/3/" class="img-thumbnail">
          </a>
      </div>
      <div class="col-md-4">
          <a href="#">
              <img src="http://lorempixel.com/600/600/nature/4/" class="img-thumbnail">
          </a>
      </div>
      <div class="col-md-4">
          <a href="#">
              <img src="http://lorempixel.com/600/600/nature/5/" class="img-thumbnail">
          </a>
      </div>
      <div class="col-md-6">
          <a href="#">
              <img src="http://lorempixel.com/600/600/nature/1/" class="img-thumbnail">
          </a>
      </div>
      <div class="col-md-6">
          <a href="#">
              <img src="http://lorempixel.com/600/600/nature/2/" class="img-thumbnail">
          </a>
      </div>
  </div>
</div>

 <footer>
    <p class="style-footer">©Arroba - All rights reserved 2017.</p>
  </footer>



      