<!--Registrar Patrocinador-->
<section>
  <!--Creación del formulario para registro de PATROCINADOR -->
  <form name="frmRegisterSponsor" ng-submit="vm.presave(vm)" novalidate autocomplete="off">

    <h1>Registro de patrocinador</h1>
    <hr>

    <h2>Datos Generales</h2>

    <md-input-container layout="column" flex="100" flex-gt-sm>
    <label for="">Nombre del representante:</label>
    <input type="text" ng-model="vm.nameSponsorRep" name="nameSponsorRep" required>
    <div ng-messages="frmRegisterSponsor.nameSponsorRep.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
    <label for="">Primer apellido del representante:</label>
    <input type="text" ng-model="vm.firstNameSponsorRep" name="firstNameSponsorRep" required>
    <div ng-messages="frmRegisterSponsor.firstNameSponsorRep.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
    <label for="">Segundo Apellido del representante:</label>
    <input type="text" ng-model="vm.lastNameSponsorRep" name="lastNameSponsorRep" required>
    <div ng-messages="frmRegisterSponsor.lastNameSponsorRep.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
    <label for="">Cédula del representante:</label>
    <input type="number" ng-model="vm.idSponsorRep" min="1" name="idSponsorRep" ng-minlength="7" ng-maxlength="9" required>
    <div ng-messages="frmRegisterSponsor.idSponsorRep.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
    <label for="">Nombre jurídico:</label>
    <input type="text" ng-model="vm.nameSponsor" name="nameSponsor" required>
    <div ng-messages="frmRegisterSponsor.nameSponsor.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
    <label for="">Compañía que representa:</label>
    <input type="text" ng-model="vm.nameSponsorCompany" name="nameSponsorCompany" required>
    <div ng-messages="frmRegisterSponsor.nameSponsorCompany.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
    </md-input-container>

    <h2>Datos de patrocinio</h2>

    <md-input-container layout="column" flex="100" flex-gt-sm>
    <select ng-model="vm.sponsorType" name="sponsorType" required>
      <option value="">--Seleccione el tipo de patrocinio--</option>
      <option value="Monetario">Monetario</option>
      <option value="Equipo">Equipo</option>
      <option value="Alimentación">Alimentación</option>
    </select>
    <div ng-messages="frmRegisterSponsor.sponsorCoinType.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
    <label for="">Descripción del patrocinio:</label>
    <input type="text" ng-model="vm.sponsorDesc" name="sponsorDesc" required>
    <div ng-messages="frmRegisterSponsor.sponsorDesc.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
    <label for="">Equivalente monetario:</label>
    <input type="number" ng-model="vm.sponsorMonetary" min="1" name="sponsorMonetary" required>
    <div ng-messages="frmRegisterSponsor.sponsorMonetary.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
    <select ng-model="vm.sponsorCoinType" name="sponsorCoinType" required>
      <option value="">--Seleccione el tipo de moneda--</option>
      <option value="Colones">Colones</option>
      <option value="Dolares">Dólares</option>
    </select>
    <div ng-messages="frmRegisterSponsor.sponsorCoinType.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
    </md-input-container>

    <input type="file" ng-model="vm.photo" name="photo" value=" Ingresar Foto del producto" id="photo">
    <input type="file" ng-model="vm.photo" name="photo" value="Logotipo" id="photo">
    <!-- Botones de Seleccione foto, Registrar y Actualizar -->
    <!--<input type="file" ng-model="vm.photo" value="Seleccione foto" name="photo" id="photo">-->
    <hr>
    <button type="submit" ng-disabled="frmRegisterSponsor.$invalid">Registrar</button>
    <input type="button" value="Actualizar" ng-disabled="frmRegisterSponsor.$invalid" ng-click="vm.update(sponsor)">
  </form>
  <!--cierre del formulario para registrar de PATROCINADOR-->

  <!-- Boton de Buscar -->
  <input type="text" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar..."> <!-- AGREGUE 29 PARA BUSCAR PILI-->

  <!--Inicio de tabla para registrar PATROCINADOR-->
  <div flex-xs flex-gt-xs="50" layout-gt-xs = "row">
    <md-card ng-repeat="sponsor in vm.sponsors  | filter:{status:vm.statusFilter} | filter: vm.nameFilter">
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">{{sponsor.nameSponsorRep}} {{sponsor.firstNameSponsorRep}} {{sponsor.lastNameSponsorRep}}</span>
          <span class="md-subhead">Id:{{sponsor.idSponsorRep}}</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-title>
        <md-card-title-text>
          <span class="md-subhead">Patrocinador:{{sponsor.nameSponsor}}</span>
          <span class="md-subhead">Compañía que representa:{{sponsor.nameSponsorCompany}}</span>
          <span class="md-subhead">{{sponsor.statusSponsor}}</span>
          <span class="md-subhead">{{sponsor.sponsorType}}</span>
          <span class="md-subhead">{{sponsor.sponsorDescription}}</span>
          <span class="md-subhead">{{sponsor.sponsorMonetary}}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media">
            <img img ng-src="{{sponsor.photo}}" alt="Description" width="132px" height="170px">
            <img img ng-src="{{sponsor.photo}}" alt="Description" width="132px" height="170px">
          </div>
    <!--<div class="md-media-lg card-media">
        <img img ng-src="{{sponsor.photo}}" alt="Description" width="132px" height="170px">
      </div> -->
    </md-card-title-media>
  </md-card-title>
  <!--Fin de card para registrar PATROCINADOR-->
  <!--Inicio de boton edición PATROCINADOR-->
  <md-card-actions layout="row" layout-align="start center">
    <md-button ng-click="vm.getInfo(sponsor)">Editar</md-button>
    <md-button ng-click="vm.active(sponsor)">Activo</md-button>
    <md-button ng-click="vm.inactive(sponsor)">Inactivo</md-button>
  <md-card-icon-actions>
 </div>
  <!--Fin de boton edición PATROCINADOR-->
</section>
