<section>
    <div class=" col-md-12">
      <h1>Patrocinadores</h1>
      <!--Crear buscar academia-->
      <section class="inputSearch">
        <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
          <form action="" class="search-form">
            <div class="form-group has-feedback">
              <label for="Buscar" class="sr-only">Buscar</label>
              <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </div>
      </section>

      <md-card class="container-fluid col-md-6" ng-repeat="sponsor in vm.sponsors | filter:vm.nameFilter">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">{{sponsor.nameSponsorRep}} {{sponsor.firstNameSponsorRep}} {{sponsor.lastNameSponsorRep}}</span>
            <span class="md-subhead">Id:{{sponsor.idSponsorRep}}</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-title>
          <md-card-title-text>
            <span class="md-subhead">Nombre Jurídico:{{sponsor.nameSponsor}}</span>
            <span class="md-subhead">Compañía que representa:{{sponsor.nameSponsorCompany}}</span>
            <span class="md-subhead">{{sponsor.statusSponsor}}</span>
            <span class="md-subhead">Tipo de Patrocinio:{{sponsor.sponsorType}}</span>
            <span class="md-subhead">Equivalente Monetario: {{sponsor.sponsorCoinType}}{{sponsor.sponsorMonetary}}</span>
            <span class="md-subhead">Descripción:{{sponsor.sponsorDesc}}</span>
          </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media">
            <img ng-src="{{sponsor.photo}}" alt="Description" class="photoStudent">
            <img ng-src="{{sponsor.photo}}" alt="Description" class="photoStudent">
          </div>
        </md-card-title-media>
        </md-card-title>
  </section>
