<!--Regristrar Fogueos, listar v y modificar Fogueos en conjunto con impresión de los datos.(Pamela)-->

<section id="registerBlaze"  ng-controller="blazeController as vm">
  <!--Creación del formulario para registro  -->
  <form name="frmRegisterBlaze" ng-submit="vm.presave(vm)" novalidate autocomplete="off">
    <h1>Registro de Fogueo</h1>
    <hr>
    <!--Inicio de los inpust para el formulario  -->
    
    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Evento:</label>
      <input list="eventsList" type="text" ng-model="vm.nameEvent" name="nameEvent" required>
      <datalist id="eventsList">
        <option value="">--Seleccione un evento</option>
        <option ng-repeat="event in vm.eventsRel" value="{{event.name}}">{{vm.name}}</option>
      </datalist>
      <div ng-messages="frmRegisterBlaze.nameEvent.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>  

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Nombre del Fogueo:</label>
      <input type="text" ng-model="vm.nameBlaze" name="nameBlaze" required>
      <div ng-messages="frmRegisterBlaze.nameBlaze.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>
    
    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Hora a Realizarse:</label>
      <input type="time" ng-model="vm.hourBlaze" name="hourBlaze" required>
      <div ng-messages="frmRegisterBlaze.hourBlaze.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>
    
    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Lugar a Realizarse:</label>
      <input type="text" ng-model="vm.placeBlaze" name="placeBlaze" required>
      <div ng-messages="frmRegisterBlaze.placeBlaze.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
     </div><!--cierre del ng-messages -->
    </md-input-container>

    <!-- Botones de Selleccione foto, Registrar y Actualizar -->
    <input type="file" ng-model="vm.photo" value="Seleccione foto" name="photo" id="photo">

    <hr>
    <button type="submit" ng-disabled="frmRegisterBlaze.$invalid">Registrar</button>
    <input type="button" value="Actualizar" ng-disabled="frmRegisterBlaze.$invalid" ng-click="vm.update(blaze)">
  </form><!--cierre del formulario para registrar -->

  <table><!--Inicio de la Tabla para registrar los datos -->
    <thead>
      <!--Select necesario para filtrar los datos por estado (activos e inactivos únicamente)  -->
      <select ng-model="vm.stateFilter" name="stateFilter">
        <option value="">--Seleccione un estado--</option>
        <option value="Activo">Activo</option>
        <option value="Inhabilitado">Inactivo</option>
      </select> <!--cierre del filtro  -->
      <tr><!--Títulos para las tablas  -->
        <th>Evento</th>
        <th>Nombre</th>
        <th>Hora</th>
        <th>Lugar</th>
        <th>Estado</th>
        <th>Foto</th>
      </tr><!-- cierre de títulos -->
    </thead>
    <tbody>
      <tr ng-repeat="blaze in vm.blazes
      |filter:{state:vm.stateFilter}"><!--Impresión de los datos-->
        <td>{{blaze.nameEvent}}</td>
        <td>{{blaze.nameBlaze}}</td>
        <td>{{blaze.hourBlaze | date:'hh:mm a'}}</td>
        <td>{{blaze.placeBlaze}}</td>
        <td>{{blaze.state}}</td>
        <td><img ng-src="{{blaze.photo}}" alt="Description" width="132px" height="170px"/></td>
        <!-- Boton para cambiar el editar las fogueos -->
        <td><input type="button" value="Editar" ng-click="vm.getInfo(blaze)"></td>
        <td><input type="submit" value="Activo" ng-click="vm.active(blaze)"></td>
        <td><input type="submit" value="Inactivo" ng-click="vm.inactive(blaze)"></td>
          <!-- cierre botones  -->
      </tr><!--Fin de la impresión de datos  -->
    </tbody>
  </table><!--Fin de la tabla para impresión de datos-->
</section>
