<!-- Ingreso de cards Pili-->
<section id="registerBeneficient">

  <!-- Inicio del formulario asociacion: -->
  <form name="frmRegisterBeneficient" novalidate autocomplete="off">

    <h1>Registro de Asociación Benéfica</h1>
    <hr>

    <!--Inicio de los input para el formulario  -->
    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Persona Encargada</label>
      <input type="text" ng-model="vm.person" name="person" required>
      <div ng-messages="frmRegisterBeneficient.person.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Nombre Jurídico:</label>
      <input type="text" ng-model="vm.name" name="name" required>
      <div ng-messages="frmRegisterBeneficient.name.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div> <!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
    <label>Tipo de asociación:</label>
    <md-select ng-model="vm.type" name="type" required>
      <md-option value="">--Seleccione un tipo de asociación</md-option>
      <md-option value="Asociaciones Cientificas.">Asociaciones Científicas</md-option>
      <md-option value="Asociaciones Cultural.">Asociaciones Culturales</md-option>
      <md-option value="Asociaciones Religiosa.">Asociaciones Religiosas</md-option>
      <md-option value="Asociaciones Educativa.">Asociaciones Educativas</md-option>
      <md-option value="Asociaciones Benéficas.">Asociaciones Benéficas</md-option>
      <md-option value="Asociaciones Solidaristas.">Asociaciones Solidaristas</md-option>
      <md-option value="Asociaciones Deportivas.">Asociaciones Deportivas</md-option>
      <md-option value="Asociaciones de Desarrollo Comunal.">Asociaciones de Desarrollo Comunal</md-option>
      <md-option value="Asociaciones Declaradas de Utilidad Pública.">Asociaciones Declaradas de Utilidad Pública</md-option>
      <md-option value="Asociaciones de Bienestar Social.">Asociaciones de Bienestar Social</md-option>
      <md-option value="otra">Otra</md-option>
    </md-select>
    <div ng-messages="frmRegisterBeneficient.type.$error">
      <div ng-message="required">*Este campo es requerido</div>
    </div> <!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Descripción de la asociación:</label>
      <input type="text" ng-model="vm.description" name="description" required>
      <div ng-messages="frmRegisterBeneficient.description.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div> <!--cierre del ng-messages -->
    </md-input-container>

    <!-- Botones de Seleccione Registrar y Actualizar -->
    <button type="submit" ng-disabled="registerBeneficient.$invalid" ng-click="vm.save(beneficient)">Registrar</button>
    <input type="button" value="Actualizar" ng-disabled="registerBeneficient.$invalid" ng-click="vm.update(beneficient)">

  </form> <!-- Cierre del formulario  -->

<input type="text" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar..."> <!-- input de buscar asociacion -->

<div flex-xs flex-gt-xs="50" layout-gt-xs = "row">
  <md-card ng-repeat="beneficient in vm.beneficient
        | filter:vm.nameFilter">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">{{beneficient.person}} {{beneficient.name}}  </span>
      </md-card-header-text>
    </md-card-header>
    <md-card-title>
      <md-card-title-text>
        <span class="md-subhead">Tipo Asociación:{{beneficient.type}}</span>
        <span class="md-subhead">Descripción:{{beneficient.description}}</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="vm.getInfo(beneficient)">Editar"</md-button>
    <md-card-icon-actions>
  </div>
</section> <!-- Cierre de la sección registerAsociacion -->
