<section>
    <div class=" col-md-12">
      <h1>Asociaciones Benéficas </h1>
      <!--Crear buscar academia-->
      <section class="inputSearch">
        <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
          <form action="" class="search-form">
            <div class="form-group has-feedback">
              <label for="Buscar" class="sr-only">Buscar</label>
              <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </div>
      </section>

      <md-card class="container-fluid col-md-4"  ng-repeat="beneficient in vm.beneficient
            | filter:vm.nameFilter">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">{{beneficient.name}}</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-title>
          <md-card-title-text>
            <span class="md-subhead">Persona a cargo: {{beneficient.personName}} {{beneficient.surname}} {{beneficient.secondSurname}}</span>
            <span class="md-subhead">Tipo de Asociación: {{beneficient.type}}</span>
            <span class="md-subhead">Descripción: {{beneficient.description}}</span>
          </md-card-title-text>
        </md-card-title>
  </section>
