<section>
  <div flex-xs flex-gt-xs="50" layout-gt-xs = "row"  >
    <md-card>
    <md-card-header>
    <md-card-header-text>
      <span class="md-title">{{vm.foundCredentials.firstName}} {{vm.foundCredentials.secondName}} {{vm.foundCredentials.surname}} {{vm.foundCredentials.secondName}}</span>
      <span class="md-subhead">{{student.id}}</span>
    </md-card-header-text>
    </md-card-header>
    <md-card-title>
      <md-card-title-text>
        <span class="md-subhead ">{{vm.foundCredentials.gender}}</span>
        <span class="md-subhead ">{{vm.foundCredentials.date | date}}</span>
        <span class="md-subhead ">{{vm.foundCredentials.civilStatus}}</span>
        <span class="md-subhead">{{vm.foundCredentials.email}}</span>
        <input class="md-subhead" ng-model="vm.foundCredentials.telephone"></input>
        <input class="md-subhead" ng-model="vm.foundCredentials.address"></input>
        <span class="md-subhead ">{{vm.foundCredentials.weight}} Kg</span>
        <span class="md-subhead ">{{vm.foundCredentials.height}} M</span>
        <span class="md-subhead ">{{vm.foundCredentials.ageCategory}}</span>
        <span class="md-subhead ">{{vm.foundCredentials.weightCategory}}</span>
        <span class="md-subhead ">{{vm.foundCredentials.academies}}</span>
        <span class="md-subhead ">{{vm.foundCredentials.teachers}}</span>
        <span class="md-subhead ">{{vm.foundCredentials.grade}}</span>
        <span class="md-subhead ">{{vm.foundCredentials.password}}</span>
        <span class="md-subhead ">{{vm.foundCredentials.state}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media">
          <img ng-src="{{vm.foundCredentials.photo}}" alt="Description" class="photoStudent">
        </div>
      </md-card-title-media>
    </md-card-title>
    <!-- Boton para cambiar el editar las estudiantes -->
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="vm.getInfo(vm.foundCredentials)">Editar Perfil</md-button>
      <md-button ng-click="vm.update(vm.foundCredentials)">Actualizar</md-button>
      <md-button ng-click="vm.active(student)">Activo</md-button>
      <md-button ng-click="vm.inactive(student)">Inactivo</md-button>
      <md-card-icon-actions><!-- cierre botones  -->
      </div>
    </md-card>
        <!--fin de los cards -->

</section>
