<!--Regristrar Estudiantes, listar Estudiantes y modificar Estudiantes en conjunto con impresión de los datos.(Pamela)-->

<section id="registerStudent"  ng-controller="studentController as vm">

  <!--Creación del formulario para registro  -->
  <form name="frmRegisterStudent" ng-submit="vm.presave(vm)" novalidate autocomplete="off">

    <h1>Registro de Estudiante</h1>
    <hr>
    <!--Inicio de los inpust para el formulario  -->
    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Cédula:</label>
      <input type="text" ng-model="vm.id" name="id" ng-minlength="7" ng-maxlength="9" required>
      <div ng-messages="frmRegisterStudent.id.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Primer Nombre:</label>
      <input type="text" ng-model="vm.firstName" name="firstName" required>
      <div ng-messages="frmRegisterStudent.firstName.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Segundo Nombre:</label>
      <input type="text" ng-model="vm.secondName" name="secondName">
      <div ng-messages="frmRegisterStudent.secondName.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Primer Apellido:</label>
      <input type="text" ng-model="vm.surname" name="surname" required>
      <div ng-messages="frmRegisterStudent.surname.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Segundo Apellido:</label>
      <input type="text" ng-model="vm.secondSurname" name="secondSurname" required>
      <div ng-messages="frmRegisterStudent.secondSurname.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Género:</label>
      <select ng-model="vm.gender" name="gender" required>
        <option value="">--Seleccione una opción</option>
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
      </select>
      <div ng-messages="frmRegisterStudent.gender.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Fecha de nacimiento:</label>
      <input type="date" ng-model="vm.date" name="date" required>
      <div ng-messages="frmRegisterStudent.date.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Estado Civil:</label>
      <select ng-model="vm.civilStatus" name="civilStatus" required>
        <option value="">--Seleccione una opción</option>
        <option value="Casado">Casado</option>
        <option value="Soltero">Soltero</option>
        <option value="UnionLibre">Unión libre</option>
      </select>
      <div ng-messages="frmRegisterStudent.civilStatus.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Correo electrónico:</label>
      <input type="email" ng-model="vm.email" name="email" required>
      <div ng-messages="frmRegisterStudent.email.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Télefono:</label>
      <input type="number" name="telephone" ng-model="vm.telephone" min="1" name="telephone" required>
      <div ng-messages="frmRegisterStudent.telephone.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Dirección:</label>
      <input type="text" ng-model="vm.address" name="address" required>
      <div ng-messages="frmRegisterStudent.address.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Peso:</label>
      <input type="number" ng-model="vm.weight" name="weight" required placeholder="Kg">
      <div ng-messages="frmRegisterStudent.weight.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Altura:</label>
      <input type="number" ng-model="vm.height" name="height" required placeholder="ej: 1.62 M">
      <div ng-messages="frmRegisterStudent.weight.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Categoría por Edad:</label>
      <select ng-model="vm.ageCategory" name="ageCategory" required>
        <option value="">--Seleccione una opción</option>
        <option value="Infantil">Infantil(4-11 años)</option>
        <option value="Cadete">Cadete(12-16 años)</option>
        <option value="Elite">Elite(17-23 años)</option>
        <option value="Senior">Senior(Mayor de 23 años)</option>
      </select>
      <div ng-messages="frmRegisterStudent.ageCategory.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Categoría por Peso:</label>
      <select ng-model="vm.weightCategory" name="weightCategory" required>
        <option value="">--Seleccione una opción</option>
        <option value="il-Yang (Pluma)">Pluma(Menos de 51kg)</option>
        <option value="i-Yang (Gallo) ">Gallo(52kg a 59kg) </option>
        <option value="o-Yang (Supergallo)">Supergallo(60kg a 65kg)</option>
        <option value="Sam-Yang (Wélter)">Wélter(66kg a 74kg)</option>
        <option value="Siu-Yang (Pesado)">Pesado(Mayor a 75kg)</option>
      </select>
      <div ng-messages="frmRegisterStudent.weightCategory.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Academia:</label>
      <input list="academyList" type="text" ng-model="vm.academies" name="academies" required>
      <datalist id="academyList">
        <option value="">>--Seleccione una academia</option>
        <option ng-repeat="academy in vm.academiesRel" value="{{academy.name}}">{{vm.academy.name}}</option>
      </datalist>
      <div ng-messages="frmRegisterStudent.academies.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Profesor:</label>
      <input list="teachersList" type="text" ng-model="vm.teachers" name="teachers" required>
      <datalist id="teachersList">
        <option value="">>--Seleccione una academia</option>
        <option ng-repeat="teacher in vm.teachersRel" value="{{teacher.name}}">{{vm.teacher.name}}</option>
      </datalist>
      <div ng-messages="frmRegisterStudent.teachers.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Grado:</label>
      <select ng-model="vm.grade" name="grade" required>
        <option value="">--Seleccione una opción</option>
        <option value="Blanco">Blanco</option>
        <option value="Amarillo">Amarillo</option>
        <option value="Verde">Verde</option>
        <option value="Azul">Azul</option>
        <option value="Rojo">Rojo</option>
        <option value="Negro">Negro</option>
      </select>
      <div ng-messages="frmRegisterStudent.grade.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div> <!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Contraseña:</label>
      <input type="password" ng-model="vm.password" name="password" required>
      <div ng-messages="frmRegisterStudent.password.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <!-- Botones de Selleccione foto, Registrar y Actualizar -->
    <input type="file" ng-model="vm.photo" value="Seleccione foto" name="photo" id="photo">
    <hr>
    <button type="submit" ng-disabled="frmRegisterStudent.$invalid">Registrar</button>
    <input type="button" value="Actualizar" ng-disabled="frmRegisterStudent.$invalid" ng-click="vm.update(student)">
  </form><!--cierre del formulario para registrar -->

  <!--Crear buscar estudiante -->
  <input type="text" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar..."> <!-- input de buscar estudiante -->
  <!--finalizar buscar estudiante -->

  <!--inicio de los cards -->
  <div flex-xs flex-gt-xs="50" layout-gt-xs = "row">
    <md-card ng-repeat="student in vm.students
    |filter:{state:vm.stateFilter} | filter:vm.nameFilter">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">{{student.firstName}} {{student.secondName}} {{student.surname}} {{student.secondName}}</span>
        <span class="md-subhead">{{student.id}}</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-title>
      <md-card-title-text>
        <span class="md-subhead">{{student.gender}}</span>
        <span class="md-subhead">{{student.date | date}}</span>
        <span class="md-subhead">Estado Civil: {{student.civilStatus}}</span>
        <span class="md-subhead">{{student.email}}</span>
        <span class="md-subhead">{{student.telephone}}</span>
        <span class="md-subhead">Dirección: {{student.address}}</span>
        <span class="md-subhead">Peso: {{student.weight}} Kg</span>
        <span class="md-subhead">Altura: {{student.height}} M</span>
        <span class="md-subhead">Categoría Edad: {{student.ageCategory}}</span>
        <span class="md-subhead">Categoría Peso: {{student.weightCategory}}</span>
        <span class="md-subhead">Academia: {{student.academies}}</span>
        <span class="md-subhead">Profesor: {{student.teachers}}</span>
        <span class="md-subhead">Grado: {{student.grade}}</span>
        <span class="md-subhead">Contraseña: {{student.password}}</span>
        <span class="md-subhead">Estado: {{student.state}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media">
          <img img ng-src="{{student.photo}}" alt="Description" width="132px" height="170px"  class="photoStudent">
        </div>
      </md-card-title-media>
    </md-card-title>
    <!-- Boton para cambiar el editar las estudiantes -->
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="vm.getInfo(student)">Editar</md-button>
      <md-button ng-click="vm.active(student)">Activo</md-button>
      <md-button ng-click="vm.inactive(student)">Inactivo</md-button>
      <md-card-icon-actions><!-- cierre botones  -->
  </div>
  <!--fin de los cards -->
</section>
