<div class="wrapper">
  <div class="sidebar" data-color="wilken">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="#!/landing"><img src="images/logoFederacion.png" width="100px"></a>
      </div>
      <ul class="nav">
       <li>
          <a href="#!/profileAsistent"><i class="pe-7s-user"></i><p>Perfil</p></a>
      </li>

      <li class="dropdown">
          <a style="background-color: #212123;" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-id"></i><p>Registrar<span class="caret"></span></p></a>
          <div class="dropdown-backdrop"></div>
            <ul class="dropdown-menu" role="" style="background-color: #FFFFFF;">
              <li style="background-color: #FFFFFF;">
                <a href="#!/academiesAssistant"><i class="pe-7s-users"></i>Academia</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/teacherAssistant"><i class="pe-7s-note"></i>Profesor</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/studentAssistant"><i class="pe-7s-study"></i>Estudiante</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/placeAssistant"><i class="pe-7s-map-marker"></i>Lugar</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/eventsGeneral"><i class="pe-7s-note2"></i>Evento</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/productAssistant"><i class="pe-7s-shopbag"></i>Producto</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/sponsorAssistant"><i class="pe-7s-gift"></i>Patrocinador</a>
              </li>
              <li style="background-color: #FFFFFF;">
                <a href="#!/beneficientAssistant"><i class="pe-7s-culture"></i>Asociación Benéfica</a>
              </li>
            </li>
          </ul>

          <li class="dropdown">
              <a style="background-color: #212123;" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-news-paper"></i> <p>Listar<span class="caret"></span></p></a>
              <div class="dropdown-backdrop"></div>
                <ul class="dropdown-menu" role="" style="background-color: #FFFFFF;">
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/totalAcademiesAssistant"><i class="pe-7s-users"></i>Academia</a>
                  </li>
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/totalTeachersAssistant"><i class="pe-7s-note"></i>Profesor</a>
                  </li>
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/totalStudentsAssistant"><i class="pe-7s-study"></i>Estudiante</a>
                  </li>
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/totalPlacesAssistant"><i class="pe-7s-map-marker"></i>Lugar</a>
                  </li>
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/eventsGeneral"><i class="pe-7s-note2"></i>Evento</a>
                  </li>
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/totalProductsAssistant"><i class="pe-7s-shopbag"></i>Producto</a>
                  </li>
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/totalSponsorsAssistant"><i class="pe-7s-gift"></i>Patrocinador</a>
                  </li>
                  <li style="background-color: #FFFFFF;">
                    <a href="#!/totalBeneficientsAssistant"><i class="pe-7s-culture"></i>Asociación Benéfica</a>
                  </li>
                </li>
              </ul>


      <li class=>
          <a href="#!/landing"><i class="pe-7s-cup"></i><p>Federación</p></a>
      </li>
        </ul>
    	</div><!--cierre de sidebar-wrapper -->
    </div><!--cierre de sidebar -->
    <div class="main-panel">
      <nav class="navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div><!--cierre de navbar-header-->
        </div><!--cierre de container-fluid -->
        <div class="collapse navbar-collapse"></div>
      </nav>


  <!-- Page Content -->
<section>
    <div  class=" col-md-12"><!--inicio  de cards -->
      <h1>Estudiantes ASIS</h1>
      <hr>
      <!--Crear buscar academia-->
      <section class="inputSearch">
        <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
          <form action="" class="search-form">
            <div class="form-group has-feedback">
              <label for="Buscar" class="sr-only">Buscar</label>
              <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </div><!--cierre  de busqueda -->
      </section>

      <md-card  class="container-fluid col-md-6" ng-repeat="student in vm.students | filter:vm.nameFilter">
          <md-card-header>
            <md-card-header-text>
              <span class="md-title">{{student.firstName}} {{student.secondName}} {{student.surname}} {{student.secondSurname}}</span>
              <span class="md-subhead">{{student.id}}</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-title>
            <md-card-title-text>
              <div>
                <span class="md-subhead">{{student.gender}}</span>
                <span class="md-subhead">Nacimiento:{{student.date | date}}</span>
                <span class="md-subhead">Teléfono:{{student.telephone}}</span>
                <span class="md-subhead">Dirección: {{student.address}}</span>
                <span class="md-subhead">Estado Civil: {{student.civilStatus}}</span>
                <span class="md-subhead">Peso: {{student.weight}} Kg</span>
                <span class="md-subhead">Categoría Peso: {{student.weightCategory}}</span>
                <span class="md-subhead">Altura: {{student.height}} cm</span>
                <span class="md-subhead">Categoría Edad: {{student.ageCategory}}</span>
                <span class="md-subhead">Grado: {{student.grade}}</span>
                <span class="md-subhead">Academia: {{student.academies}}</span>
                <span class="md-subhead">Profesor: {{student.teachers}}</span>
                <span class="md-subhead">Correo:{{student.email}}</span>
                <span class="md-subhead">Estado: {{student.status}}</span>
              </div>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media">
                <img ng-src="{{student.photo}}" alt="Description" class="photoStudent">
              </div>
            </md-card-title-media>
          </md-card-title>
  </section>
</div><!--cierre  de cards -->
</div><!--cierre de main-panel -->
</div><!--cierre de wrapper -->
