<!--Regristrar academias, listar academias y modificar academias en conjunto con impresión de los datos  -->
<section>
  <!--Creación del formulario para registro  -->
  <form name="frmRegisterAcademies" novalidate autocomplete="off">
    <h1>Registro de Academias</h1>
    <hr>
    <!--Inicio de los inpust para el formulario  -->
    <md-input-container layout="column" flex="100" flex-gt-sm>
    <label for="">Nombre:</label>
    <input type="text" ng-model="vm.name" name="name" required>
    <div ng-messages="frmRegisterAcademies.name.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->
    </md-input-container>


    <label for="">Dirección:</label>
    <input type="text" ng-model="vm.direction" name="direction" required>
    <div ng-messages="frmRegisterAcademies.direction.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Teléfono:</label>
    <input type="number" ng-model="vm.phone" name="phone" min="1" ng-minlength="8" ng-maxlength="8" required>
    <div ng-messages="frmRegisterAcademies.phone.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Correo electrónico:</label>
    <input type="email" ng-model="vm.email" name="email">
    <div ng-messages="frmRegisterAcademies.email.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Persona de Contacto:</label>
    <input type="text" ng-model="vm.contact" name="contact" required>
    <div ng-messages="frmRegisterAcademies.contact.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <label for="">Profesores:</label>
    <input type="text" ng-model="vm.teachers" name="teachers"  required>
    <div ng-messages="frmRegisterAcademies.teachers.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div><!--cierre del ng-messages -->

    <!-- Botones de Registro y Actualizar -->
    <input type="submit" value="Registrar" ng-disabled="frmRegisterAcademies.$invalid" ng-click="vm.save(academy)" >
    <input type="button" value="Modificar" ng-disabled="frmRegisterAcademies.$invalid" ng-click="vm.update(academy)">
  </form><!--cierre del formulario para registrar -->


  <!--Crear buscar academia -->
  <input type="text" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">

  <table><!--Inicio de la Tabla para registrar los datos -->
    <thead>
      <!--Select necesario para filtrar los datos por estado (activos e inactivos únicamente)  -->
      <select ng-model="vm.statusFilter" name="statusFilter">
        <option value="">--Seleccione un estado--</option>
        <option value="Activo">Activo</option>
        <option value="Inhabilitado">Inactivo</option>
      </select> <!--cierre del filtro  -->

      <tr><!--Títulos para las tablas  -->
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Correo electrónico</th>
        <th>Persona de contacto</th>
        <th>Profesores</th>
        <th>Estado</th>
      </tr><!-- cierre de títulos -->
    </thead>
    <tbody>
      <tr ng-repeat="academy in vm.academies  | filter:{status:vm.statusFilter |  filter:vm.nameFilter}"><!--Impresión de los datos-->
          <td>{{academy.name}}</td>
          <td>{{academy.direction}}</td>
          <td>{{academy.phone}}</td>
          <td>{{academy.email}}</td>
          <td>{{academy.contact}}</td>
          <td>{{academy.teachers}}</td>
          <td>{{academy.status}}</td>
          <!-- Botones para cambiar el status de las academias -->
          <td><input type="button" value="Editar" ng-click="vm.getInfo(academy)"></td>
          <td><input type="submit" value="Activo" ng-click="vm.active(academy)"></td>
          <td><input type="submit" value="Inactivo" ng-click="vm.inactive(academy)"></td>
          <!-- cierre botones  -->
      </tr><!--Fin de la impresión de datos  -->
    </tbody>
  </table><!--Fin de la tabla para impresión de datos-->
</section>
