<!-- Inicio de la sección registerPlace, que contiene el formulario del lugar, registrar, modificar y listar, Hecho por Fabián Quirós-->
<section id="registerPlace">

  <!-- Inicio del formulario  Competición: -->
  <form name="frmRegisterPlace" novalidate autocomplete="off">

    <h1>Registro de Lugar</h1>
    <hr>

    <!--Inicio de los inpust para el formulario  -->
    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Nombre</label>
      <input type="text" ng-model="vm.namePlace" name="namePlace" required>
      <div ng-messages="frmRegisterPlace.namePlace.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div><!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Ubicación exacta:</label>
      <input type="text" ng-model="vm.location" name="location" required>
      <div ng-messages="frmRegisterPlace.location.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div> <!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Capacidad:</label>
      <input type="number" ng-model="vm.capacity" min="1" name="capacity" required>
      <div ng-messages="frmRegisterPlace.capacity.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div> <!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Teléfono:</label>
      <input type="number" ng-model="vm.phone" min="1" name="phone" required>
      <div ng-messages="frmRegisterPlace.phone.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div> <!--cierre del ng-messages -->
    </md-input-container>

    <h2>Horario disponible</h2>
    <hr>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Inicio:</label>
      <input type="time" ng-model="vm.timestart" min="1" name="timestart" required>
      <div ng-messages="frmRegisterPlace.timestart.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div> <!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Concluye:</label>
      <input type="time" ng-model="vm.timeFinish" min="1" name="timeFinish" required>
      <div ng-messages="frmRegisterPlace.timeFinish.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div> <!--cierre del ng-messages -->
    </md-input-container>

    <h2>Persona de contacto</h2>
    <hr>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Nombre:</label>
      <input type="text" ng-model="vm.nameContact" name="nameContact" required>
      <div ng-messages="frmRegisterPlace.nameContact.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div> <!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Primer apellido:</label>
      <input type="text" ng-model="vm.firstName" name="firstName" required>
      <div ng-messages="frmRegisterPlace.firstName.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div> <!--cierre del ng-messages -->
    </md-input-container>

    <md-input-container layout="column" flex="100" flex-gt-sm>
      <label for="">Segundo apellido:</label>
      <input type="text" name="secondName" ng-model="vm.secondName" name="secondName" required>
      <div ng-messages="frmRegisterPlace.secondName.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div> <!--cierre del ng-messages -->
    </md-input-container>

    <!-- Botones de Selleccione Registrar y Actualizar -->
    <button type="submit" ng-disabled="frmRegisterCompetition.$invalid" ng-click="vm.save(place)">Registrar</button>
    <input type="button" value="Actualizar" ng-disabled="frmRegisterCompetition.$invalid" ng-click="vm.update(place)">

  </form> <!-- Cierre del formulario Competición  -->

<input type="text" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar..."> <!-- input de buscar competición -->
  <table> <!-- Inicio de la tabla -->
    <thead> <!-- Inicio del thead -->
      <tr> <!--Títulos para las tablas  -->
        <th>Nombre del lugar</th>
        <th>Ubicación</th>
        <th>Capacidad</th>
        <th>Teléfono</th>
        <th>Disponibilidad</th>
        <th>Nombre de persona de contacto</th>
        <th>Primer apellido de persona de contacto</th>
        <th>Segundo apellido de persona de contacto</th>
      </tr> <!-- cierre de títulos -->
    </thead> <!-- Cierre de la thead -->
    <tbody> <!-- Incio del tbody -->
      <tr ng-repeat="place in vm.place | filter:vm.nameFilter"> <!--Impresión de los datos-->
        <td>{{place.namePlace}}</td>
        <td>{{place.location}}</td>
        <td>{{place.capacity}} personas</td>
        <td>{{place.phone}}</td>
        <td>{{place.timestart | date:'shortTime'}} - {{place.timeFinish | date:'shortTime'}}</td>
        <td>{{place.nameContact}}</td>
        <td>{{place.firstName}}</td>
        <td>{{place.secondName}}</td>
        <!-- Botones para cambiar el estado de las academias y editar-->
        <td><input type="button" value="Editar" ng-click="vm.getInfo(place)"></td>
        <!-- cierre botones  -->
      </tr> <!--Fin de la impresión de datos  -->
    </tbody> <!-- Cierre de la tbody -->
  </table> <!-- Cierre de la tabla -->
</section> <!-- Cierre de la sección registerTeacher -->
