<div class="wrapper">
  <div class="sidebar" data-color="wilken">
    <div class="sidebar-wrapper">
        <div class="logo">
          <img src="images/logoFederacion.png" style="width: 100px;">
        </div>
        <ul class="nav">
          <li class=>
            <a href="#federacion"><i class="pe-7s-cup"></i><p>Federación</p></a>
          </li>

          <li>
            <a href="#!/totalblazes"><i class="pe-7s-gym"></i><p>Fogueos</p></a>
          </li>

          <li>
            <a href="#!/totalfights"><i class="pe-7s-cup"></i><p>Torneos</p></a>
          </li>

          <li>
            <a href="#!/totalexhibitions"><i class="pe-7s-timer"></i><p>Exhibiciones</p></a>
          </li>

          <li>
            <a href="#!/totalsponsors"><i class="pe-7s-gift"></i><p>Patrocinadores</p></a>
          </li>

          <li>
            <a href="#!/landingPageEvents"><i class="pe-7s-note2"></i><p>Eventos</p></a>
          </li>

          <li>
            <a href="#!/landingGallerys"><i class="pe-7s-photo-gallery"></i><p>Galería</p></a>
          </li>

          <li>
            <a href="#!/landingPageContact"><i class="pe-7s-mail-open"></i><p>Contacto</p></a>
          </li>
        </ul>
    	</div>
    </div>
    <div class="main-panel">
      <nav class="navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
        <div class="collapse navbar-collapse"></div>
      </nav>
          <!-- Page Content -->
      <!-- Inicio de la sección registerPlace, que contiene el formulario del lugar, registrar, modificar y listar, Hecho por Fabián Quirós-->
      <div class="container-fluid">
        <section id="registerPlace">
          <h1>Registro de Lugar</h1>
          <hr>

          <!--Crear buscar lugar-->
            <section class="inputSearch">
              <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
                <form action="" class="search-form">
                  <div class="form-group has-feedback">
                    <label for="Buscar" class="sr-only">Buscar</label>
                    <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </form>
              </div>
            </section>

      <!-- Inicio del formulario  Competición: -->
      <form name="frmRegisterPlace" novalidate autocomplete="off">

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
          <!--Inicio de los inpust para el formulario  -->
            <md-input-container class="col-xs-12 col-sm-4 col-md-4"layout="column">
              <p class="failId"></p>
              <label for="">Nombre</label>
              <input type="text" ng-model="vm.namePlace" name="namePlace" ng-maxlength="20" required>
              <div ng-messages="frmRegisterPlace.namePlace.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div><!--cierre del ng-messages -->
            </md-input-container>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Ubicación exacta:</label>
              <input type="text" ng-model="vm.location" name="location" ng-maxlength="40" required>
              <div ng-messages="frmRegisterPlace.location.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Capacidad:</label>
              <input type="number" ng-model="vm.capacity" min="1" name="capacity" required>
              <div ng-messages="frmRegisterPlace.capacity.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12">
            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Teléfono:</label>
              <input type="number" ng-model="vm.phone" min="8" ng-minlength="8" ng-maxlength="8" placeholder="22222222" name="phone" required>
              <div ng-messages="frmRegisterPlace.phone.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12">
            <h2>Horario disponible</h2>
            <hr>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Inicio:</label>
              <input type="time" ng-model="vm.timestart" min="1" name="timestart" required>
              <div ng-messages="frmRegisterPlace.timestart.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Concluye:</label>
              <input type="time" ng-model="vm.timeFinish" min="1" name="timeFinish" required>
              <div ng-messages="frmRegisterPlace.timeFinish.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12">
            <h2>Persona de contacto</h2>
            <hr>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Nombre:</label>
              <input type="text" ng-model="vm.nameContact" name="nameContact" ng-maxlength="20" required>
              <div ng-messages="frmRegisterPlace.nameContact.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Primer apellido:</label>
              <input type="text" ng-model="vm.firstName" name="firstName" ng-maxlength="20" required>
              <div ng-messages="frmRegisterPlace.firstName.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Segundo apellido:</label>
              <input type="text" name="secondName" ng-model="vm.secondName" name="secondName" ng-maxlength="20" required>
              <div ng-messages="frmRegisterPlace.secondName.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>
          </div>
        </div>

        <h2>Coordenadas</h2>
        <label for="">Latitud</label>
        <input ng-model="vm.latitud" id="txtLatitud"></input>

        <label for="">Longitud</label>
        <input ng-model="vm.longitud" id="txtLongitud"></input>

        <div id="mapa"></div>

        <!-- Botones de Selleccione Registrar y Actualizar -->
        <div id="registrar">
          <md-button class="button Active" type="button" ng-disabled="frmRegisterCompetition.$invalid" ng-click="vm.save(place); vm.getCurrentPosition(place)">Registrar</md-button>
        </div>
        <div class="displayNone" id="actualizar">
          <md-button class="button edit" type="button" ng-disabled="frmRegisterCompetition.$invalid" ng-click="vm.update(place)">Actualizar</md-button>
        </div>
        <p class="Accepted"></p>   <!-- parrafo que muestra el estado correcto de un registro -->
      </form> <!-- Cierre del formulario Competición  -->

          <div class="col-md-12">
          <!--inicio de los cards -->
            <md-card class="container-fluid col-md-6" ng-repeat="place in vm.place | filter:vm.nameFilter">
              <md-card-header>
                <md-card-header-text>
                  <span class="md-title">Nombre del lugar:{{place.namePlace}}</span>
                  <span class="md-subhead">Ubicación:{{place.location}}</span>
                </md-card-header-text>
              </md-card-header>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-subhead">Capacidad:{{place.capacity}} personas</span>
                  <span class="md-subhead">Teléfono:{{place.phone}}</span>
                  <span class="md-subhead">Disponibilidad:{{place.timestart | date:'shortTime'}} - {{place.timeFinish | date:'shortTime'}}</span>
                  <span class="md-subhead">Persona de contacto:{{place.nameContact}} {{place.firstName}} {{place.secondName}}</span>
                  <span class="md-subhead">Latitud;{{place.latitud}}</span>
                <span class="md-subhead">Longitud;{{place.longitud}}</span>
                </md-card-title-text>
              </md-card-title>
              <!-- Boton para cambiar el editar las eventos -->
              <md-card-actions id="buttons">
                <md-button class="edit" ng-click="vm.getInfo(place);vm.hideButton()">Editar</md-button>
              <md-card-icon-actions><!-- cierre botones  -->
          <!--fin de los cards -->
          </div>
        </section> <!-- Cierre de la sección registerTeacher -->
      </div>
</div>
