<div class="wrapper">
  <div class="sidebar" data-color="wilken">
    <div class="sidebar-wrapper">
        <div class="logo">
           <img src="images/logoFederacion.png" style="width: 100px;">
        </div>
        <ul class="nav">
          <li class=>
            <a href="#!/landing"><i class="pe-7s-cup"></i><p>Federación</p></a>
          </li>

          <li>
            <a href="#!/login"><i class="pe-7s-user"></i><p>Iniciar Sesión</p></a>
          </li>

          <li>
            <a href="#!/landingPageEvents"><i class="pe-7s-note2"></i><p>Eventos</p></a>
          </li>

          <li>
            <a href="#!/landingGallerys"><i class="pe-7s-photo-gallery"></i><p>Galería</p></a>
          </li>

          <li>
            <a href="#!/landingContact">
              <i class="pe-7s-mail-open"></i><p>Contacto</p></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      <div class="collapse navbar-collapse"></div>
      </nav>

      <div class="container">
    <div class="jumbotron jumbotron-sm">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="style contact-us">
                    Contacto
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 class="style"> <i class="fa fa-home fa-1x"></i>Dirección:</h3>               
                <p class="style">Costa Rica, San José, Pavas, parroquia María Reina 200 metros sur, complejo bodega Morepark # 13.</p>
                <br />
                <br />
                <h3 class="style"><i class="fa fa-envelope fa-1x"></i>Correo Electrónico:</h3>
                <p class="style">infoycomufct@gmail.com.</p>
                <br />
                <br />
                <h3 class="style"><i class="fa fa-user fa-1x"></i>Números de Teléfono:</h3>
                <p class="style">(506) 2231 4308.</p>
                <p class="style">(506) 8982 9607.</p>
                <br/>
                <br/>
                <h3 class="style"><i class="fa fa-yelp fa-1x"></i>Sitio Web:</h3>
                <p class="style"><a href="http://www.tkdcr.org/"target="_blank">tkdcr</a></p>
            </div>
        </div>
        <div class="col-sm-6">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.8527123692897!2d-84.14144398501077!3d9.946210292888106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fb7948c9b1b3%3A0xfd6e6314058e92dd!2sMore+Park!5e0!3m2!1sen!2ses!4v1499704243378" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    </div>
    <footer>
      <p class="style-footer">©Arroba - All rights reserved 2017.</p>
    </footer>
       



