<div class="wrapper">
  <div class="sidebar" data-color="wilken">
    <div class="sidebar-wrapper">
      <div class="logo">
        <img src="images/logoFederacion.png" width="100px">
      </div>
        <ul class="nav">
          <li class=>
            <a href="#federacion"><i class="pe-7s-cup"></i><p>Federación</p></a>
          </li>

          <li>
            <a href="#!/totalacademies"><i class="pe-7s-users"></i><p>Academias</p></a>
          </li>

          <li>
            <a href="#!/students"><i class="pe-7s-note"></i><p>Registro Estudiantes</p></a>
          </li>

          <li>
            <a href="#!/totalblazes"><i class="pe-7s-gym"></i><p>Fogueos</p></a>
          </li>

          <li>
            <a href="#!/totalfights"><i class="pe-7s-cup"></i><p>Torneos</p></a>
          </li>

          <li>
            <a href="#!/totalexhibitions"><i class="pe-7s-timer"></i><p>Exhibiciones</p></a>
          </li>

          <li>
            <a href="#!/landingPageEvents"><i class="pe-7s-note2"></i><p>Eventos</p></a>
          </li>

          <li>
            <a href="#!/landingGallerys"><i class="pe-7s-photo-gallery"></i><p>Galería</p></a>
          </li>

          <li>
            <a href="#!/landingPageContact"><i class="pe-7s-mail-open"></i><p>Contacto</p></a>
          </li>

        </ul>
    	</div>
    </div>
    <div class="main-panel">
      <nav class="navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
        <div class="collapse navbar-collapse"></div>
      </nav>

  <!-- Page Content -->
    <section>
      <div col-xs-12 >
      <div>
        <md-card>
          <md-card-header>
          <md-card-header-text>
            <md-button class="edit col-xs-5 col-md-2 col-sm-2 col-xs-offset-7 col-md-offset-10 col-sm-offset-10" ng-click="vm.logOut()"> Cerrar Sesión </md-button>
            <h1>Bienvenido (a)</h1>
            <span class="md-title">{{vm.foundCredentials.name}} {{vm.foundCredentials.firstName}} {{vm.foundCredentials.lastName}}</span>
            <span class="md-subhead">{{teacher.id}}</span>
          </md-card-header-text>
          </md-card-header>
          <md-card-title-media>
            <div class="md-media-lg card-media col-md-offset-9">
              <img ng-src="{{vm.foundCredentials.photo}}" alt="Description" class="photoTeacherProfile">
            </div>
          </md-card-title-media>

          <md-card-title>
            <md-card-title-text>
              <span class="md-subhead">Género: {{vm.foundCredentials.gender}}</span>
              <span class="md-subhead">Correo: {{vm.foundCredentials.email}}</span>
              <span class="md-subhead">Fecha Nacimiento: {{vm.foundCredentials.date | date}}</span>
              <span class="md-subhead">Estado Civil: {{vm.foundCredentials.civilStatus}}</span>
              <input class="md-subhead" ng-model="vm.foundCredentials.telephone"></input>
              <span class="md-subhead ">Color de cinturón: {{vm.foundCredentials.grade}}</span>
              <span class="md-subhead ">Clave: {{vm.foundCredentials.password}}</span>
              <span class="md-subhead ">Academia: {{vm.foundCredentials.academies}}</span>
              <span class="md-subhead ">Estado: {{vm.foundCredentials.status}}</span>
            </md-card-title-text>

          </md-card-title>
          <!-- Boton para cambiar el editar las estudiantes -->
          <md-card-actions id="buttons" layout="row" layout-align="end center">
            <md-button class="edit" ng-click="vm.getInfo(vm.foundCredentials)">Editar Perfil</md-button>
            <md-button class="Active" ng-click="vm.update(vm.foundCredentials)">Actualizar</md-button>
            <md-card-icon-actions><!-- cierre botones  -->
        </md-card>
      </div>
            <!--fin de los cards -->
    </section>
  </div>
