<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Federación Costarricense de Taekwondo</title>
  </head>
  <body>
    <div id="principalNavFCT">
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <a href="#">Federación</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="fct/fct.view.html">Iniciar Sesión<span class="caret"></span></a>
          <div class="dropdown-backdrop"></div>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="teacher.view.html">Asistente</a> <!--Arreglar ruta cuando este creado-->
              </li>
              <li class="divider"></li>
              <li>
                <a href="student.view.html">Estudiante</a>
              </li>
              <li>
                <a href="teacher.view.html">Profesor</a>
              </li>
            </ul>
          </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Eventos<span class="caret"></span></a>
        </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Galería</a>
        </li>
        <li>
          <a href="#">Contacto</a>
        </li>
      </ul>
    </div>
    <div id="secundaryNavFCT">
      <ul>
        <li><a href="#">Patrocinadores</a></li>
        <li><a href="#">Cómo patrocinar?</a></li>
      </ul>
    </div>

    <section ng-controller = 'fctController as ctrl' id="principalInformationFCT"> <!-- Inicio información FCT-->
      <h1>Información General Federación Costarricense de Taekwondo</h1>
      <hr>
      <div class="center">
        <h2>Descripción</h2>

        <p>La Federación costarricense de Taekwondo es una organización deportiva que se encarga de promover y preparar a los atletas en todos los niveles, dentro de esta disciplina.</p>
      </div>

      <h2>Actividades del cliente</h2>
      <h3>A qué se dedica la Federacion?</h3>
        <p>Masificar tanto en conocimientos técnicos como en alta competencia para mejorar la calidad de vida de sus afiliados.
          Dar a conocer este deporte a nivel del país.
          Promover  la práctica de esta disciplina y convocar a eventos de Taekwondo en general.</p>
      <h2>Ubicación</h2>
        <p>Costa Rica, San José, Pavas, parroquia María Reina 200 metros sur, complejo bodega Morepark # 13.</p>
      <h2>Visión</h2>
        <p>"Ser una empresa reconocida con la mejor alternativa a nivel nacional en la disciplina del Taekwondo; estando a la altura de las nuevas tendencias que surgen, para así contribuir con el crecimiento de los objetivos de todos nuestros clientes."</p>
      <h2>Misión</h2>
        <p>"Somos una organización costarricense de la Disciplina del Taekwondo y nuestro objetivo es masificar, promover y preparar a los atletas en todos sus niveles, tanto en sus conocimientos técnicos y alta competencia como en valores personales en un ambiente que contribuya a aumentar su calidad de vida."</p>
      <h2>Valores</h2>
      <h3>Nuestros valores reflejan como somos y en qué creemos.</h3>
        <p>Innovación: Promovemos la capacidad de crear y ser diferentes.</p>
        <p>Trabajo en equipo: Fomentamos la participación de todos para lograr un objetivo común.</p>
        <p>Profesionalidad: Luchamos por un reconocimiento justo del profesional del sector.</p>
        <p>Mejora continua: Ser capaz de adaptarnos al mercado y estar en constante formación.</p>
        <p>Calidad: Búsqueda de la excelencia.</p>
        <p>Integridad: Ser transparentes.</p>
        <p>Expansión: Llegar lo más lejos posible con nuestra marca.</p>
    </section><!-- Fin información FCT-->

    <section id="imagesSliderFCT"><!-- Inicio slider imagenes FCT-->
      <img src="#" alt="SliderFCT1" width="300px" height="210px">
      <img src="#" alt="SliderFCT1" width="300px" height="210px">
      <img src="#" alt="SliderFCT1" width="300px" height="210px">

    </section><!-- Fin slider imagenes FCT-->
  </body>
</html>
