<div class="wrapper">
  <div class="sidebar" data-color="wilken">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="#!/landing"><img src="images/logoFederacion.png" width="100px"></a>
      </div>
      <ul class="nav">
       <li>
          <a href="#!/teacherProfile"><i class="pe-7s-user"></i><p>Perfil</p></a>
       </li>

       <li class="dropdown">
        <a style="background-color: #212123;" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-id"></i> <p>Registro<span class="caret"></span></p></a>
        <div class="dropdown-backdrop"></div>
          <ul class="dropdown-menu" role="" style="background-color: #FFFFFF;">
            <li style="background-color: #FFFFFF;">
              <a href="#!/studentTeacher"><i class="pe-7s-study"></i>Estudiante</a>
            </li>
          </ul>
       </li>

       <li class="dropdown">
        <a style="background-color: #212123;" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-id"></i> <p>Listar<span class="caret"></span></p></a>
        <div class="dropdown-backdrop"></div>
          <ul class="dropdown-menu" role="" style="background-color: #FFFFFF;">
            <li style="background-color: #FFFFFF;">
              <a href="#!/totalAcademiesTeacher"><i class="pe-7s-users"></i>Academia</a>
            </li>
            <li style="background-color: #FFFFFF;">
              <a href="#!/totalStudentsTeacher"><i class="pe-7s-study"></i>Estudiante</a>
            </li>
          </ul>
       </li>

       <li > <!-- borre class= PILI -->
          <a href="#!/landing"><i class="pe-7s-cup"></i><p>Federación</p></a>
       </li>
      </ul><!-- cierre nav -->
    </div><!-- Cierre sidebar-wrapper -->
  </div><!-- Cierre sidebar -->

    <div class="main-panel">
      <nav class="navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
        <div class="collapse navbar-collapse"></div>
      </nav><!-- Cierre navbar-default -->

      <!-- Page Content -->
      <div class="container-fluid">
        <h1>Academias</h1>
        <hr>
        <!--Crear buscar academia-->
        <section class="inputSearch">
          <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
            <form action="" class="search-form">
              <div class="form-group has-feedback">
                <label for="Buscar" class="sr-only">Buscar</label>
                <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </form>
          </div>
        </section><!-- Cierre inputSearch -->

        <div class="col-xs-12">
          <md-card class="container-fluid col-md-6" ng-repeat="academy in vm.academies | filter:vm.nameFilter"><!--Impresión de datos-->
            <md-card-header>
              <md-card-header-text>
                <span class="md-title">Academia: {{academy.name}}</span>
                <span class="md-subhead">Ubicación: {{academy.direction}}</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-title>
              <md-card-title-text>
                <span class="md-subhead">Persona de contacto: {{academy.contact}}</span>
                <span class="md-subhead">Teléfono: {{academy.phone}}</span>
                <span class="md-subhead">Correo electrónico: {{academy.email}}</span>
                <span class="md-subhead">Estado: {{academy.status}}</span>
              </md-card-title-text>
            </md-card-title>
            <!-- Botones para cambiar el status de las academias -->
            <md-card-actions id="buttons">
              <md-button class="edit" ng-click="vm.getInfo(academy);vm.hideButton();registro1()">Editar</md-button>
              <md-button class="Active"  ng-click="vm.active(academy)">Activo</md-button>
              <md-button class="edit"  ng-click="vm.inactive(academy)">Inactivo</md-button>
            <md-card-icon-actions>
              <!-- cierre botones  -->
        </div><!--Fin de la card para impresión de datos-->
      </div><!-- cierre container-fluid-->
    </div><!-- cierre main-panel-->
</div><!-- cierre wrapper-->
